<div class="padding">


  <div class="right">
  <span class="chip pointer top-chip"
        onclick="window.location.href = 'https://www.patreon.com/TheExpanseVR'"
        mz-tooltip tooltip="People have been so kind, we are humbled."
        position="bottom">
      <img src="assets/images/patreon.jpg" alt="Support us on Patreon."/>
      Support us on Patreon
    </span>
    <span class="chip pointer top-chip"
          onclick="window.location.href = 'https://paypal.me/sidequestvr'"
          mz-tooltip tooltip="Use this option if you prefer a one off donation."
          position="bottom">
      <img src="assets/images/paypal.jpg" alt="Donate on Paypal"/>
      Donate on Paypal
    </span>
  </div>
  <h4>Setup & How To!</h4>
<!--  <hr>-->
  <div class="row">
    <div class="col s12 m6">
      <div class="setup-content">
        <div class="section-title">
          Step 1: Install SideQuest ( Skip if you are in SideQuest already )
        </div>
        <div>
          Install SideQuest on windows, linux or mac.
        </div>
      </div>
      <div class="setup-content">
        <div class="section-title">
          Step 2: Create Organisation
        </div>
        <div>
          Put the Oculus Headset in developer mode to be able to sideload to the Headset. To do this,
          you have to be a registered "developer". This process is free. Go to

          <a href="https://dashboard.oculus.com" class="link">dashboard.oculus.com</a>
          on your PC and create an 'organization'. You'll be asked to accept the developer agreement.
        </div>
        <br><br>
        <img class="setup-image" src="assets/images/CreateOrganisation.png" (click)="openImage(0)"/>
        <img class="setup-image" src="assets/images/OculusDashboardDeveloperCreate.png"  (click)="openImage(1)"/>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="setup-content">

        <div class="center-align"  *ngIf="!expanseService.currentSession || expanseService.currentSession.profile_color !== 'golden'">
          <ng-adsense
            [adClient]="'ca-pub-4418999855454494'"
            [adSlot]="1323490033"
            [display]="'inline-block'"
            [adFormat]="'auto'"
            [width]="728"
            [height]="90"
            [fullWidthResponsive]="true"
          ></ng-adsense>
        </div>
        <br><br>
        <app-download-box></app-download-box>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col s12 m6">
      <div class="setup-content">
        <div class="section-title">
          Step 3: Install Drivers ( Windows Only - skip this on Mac / Linux )
        </div>
        <div>
          Install the driver software for your device. Go to
          <a href="https://developer.oculus.com/downloads/package/oculus-go-adb-drivers/" class="link">developer.oculus.com</a>
          on your PC and download the drivers for your headset. The Oculus Go drivers work for the
          quest also. To install the drivers extract the zip folder, right click the
          <div class="chip">android_winusb.inf</div>
          file and click install.
        </div>
        <br><br>
        <img class="setup-image" src="assets/images/ADB Drivers.png" (click)="openImage(2)"/>
        <img class="setup-image" src="assets/images/right-click.png" (click)="openImage(3)"/>

      </div>
    </div>
    <div class="col s12 m6">
      <div class="setup-content">
        <div class="section-title">
          Step 4: Enable Developer Mode and Reboot
        </div>
        <p>
          Now that you’re a "developer", open the Oculus app on your smartphone or tablet. In the
          Settings tab, tap on the Go headset and tap 'More settings'. In the list, you should now see
          Developer Mode. Once you have enabled developer mode it is a good idea to reboot your headset
          to be able to see it on the device.
        </p>
        <br><br>
        <img class="setup-image" src="assets/images/OculusAppDevModeSteps.png" (click)="openImage(4)"/>
      </div>
    </div>
  </div>
  <div class="clear-fix"></div>
  <div class="row">
    <div class="col s12 m6">
      <div class="setup-content">
        <div class="section-title">
          Step 5: Connect USB Cable and Allow USB Debugging
        </div>
        <div>
          Now its time to connect the USB cable. Once you are connected you will have to allow USB
          debugging access on your headset. If you put your headset on at this point you will see
          something like the below. You should also select 'Always allow from this computer' to prevent
          this message from coming up every time you connect.
          <br><br>
          Important 1): Disable Unlock Pattern in the Oculus app in <div class="chip">Settings > Quest > More Settings > Unlock Pattern</div>. <br>See the image in Step 2 for more info. <br><br>
          Important 2): Try a phone USB cable instead of the cable that comes with your Quest.
        </div>
        <br><br>
        <img class="setup-image" src="assets/images/allow-auth.png" (click)="openImage(5)"/>
        <br><br>
        <div class="center-align"  *ngIf="!expanseService.currentSession || expanseService.currentSession.profile_color !== 'golden'">
          <ng-adsense
            [adClient]="'ca-pub-4418999855454494'"
            [adSlot]="9125958431"
            [display]="'inline-block'"
            [adFormat]="'auto'"
            [width]="appService.isMobile?300:728"
            [height]="appService.isMobile?250:90"
            [fullWidthResponsive]="true"
          ></ng-adsense>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="setup-content">
        <div class="section-title">
          Step 6: Install App Launcher
        </div>
        <div>
          Install a launcher to make finding apps easier on your headset. This launcher will be found in
          the library under 'Unknown Sources' on the menu on the left. Open it to find all the apps that
          have been installed on your device.
        </div><br>
        <div class="waves-effect waves-light btn pink-button" *ngIf="launcherDownloadUrl" (click)="openItem('sidequest://sideload/#'+launcherDownloadUrl)">
          Install QuestAppLauncher
        </div>
        <br><br>
        <div>
          WARNING: Most Apps you install via SideQuest will appear in the Unknown Sources list in your headset ( except for apps also on the store like Virtual Desktop - these appear in the library like normal ). If in doubt use the above launcher, it has all your apps in one place.
          <br><br>
          Check your antivirus hasn't blocked some parts of the ADB download - this has happened for some
          with Avast antivirus in particular. <br />If you have any problems or want to say hi drop us a
          line on discord - <a href="https://discord.gg/HNnDPSu" class="link">discord</a>.
        </div>
        <br><br>
        <div class="center-align"  *ngIf="!expanseService.currentSession || expanseService.currentSession.profile_color !== 'golden'">
          <ng-adsense
            [adClient]="'ca-pub-4418999855454494'"
            [adSlot]="6732068693"
            [display]="'inline-block'"
            [adFormat]="'auto'"
            [width]="300"
            [height]="250"
            [fullWidthResponsive]="true"
          ></ng-adsense>
          <ng-adsense
            [adClient]="'ca-pub-4418999855454494'"
            [adSlot]="6732068693"
            [display]="'inline-block'"
            [adFormat]="'auto'"
            [width]="300"
            [height]="250"
            [fullWidthResponsive]="true"
          ></ng-adsense>
        </div>
      </div>
    </div>
  </div>
  <div class="clear-fix"></div>

<div class="row">
  <div class="col s12">
    <div class="setup-content relative" style="max-width: 640px; margin: auto;">
      <div class="section-title">
        How To Video: TycoTech
      </div>
      <iframe
        width="655.609756097561"
        height="420"
        style="width: 100%;max-width: 640px;"
        src="https://www.youtube.com/embed/dRWSAQJ13Zc"
        frameborder="0"
        allowfullscreen
      ></iframe>
      <br />Kindly provided by <a href="https://www.youtube.com/channel/UC1z5BGgIKk0d5vJ-Jhp9X9A">@TycoTech</a>
    </div>
  </div>
</div>

</div>
