.setup-content{
  padding: 1em;
}
.setup-image {
  width: 100%;
}
.section-title {
  font-size: 2rem;
  margin-top: 0.4em;
  margin-left: 1em;
  font-family: 'PT Sans', sans-serif;
}
.link,
.sort-link {
  color: lightseagreen;
  cursor: pointer;
}

.top-chip{
  margin-left: 1em;
  margin-right: 1em;
}
