.background-image{
  background: #312249 url(../../assets/images/forgot-top.jpg) center center no-repeat;
  background-size: cover;
  height: 100%;
}
.login-container{
  height: 100%;
}
.login-card{
  width: 400px;
  position: relative;
  margin: auto;
  color: darkgrey;
}

.login-links{
  font-size: 1rem;
  position:absolute;
  top: 10px;
  right: 10px;
}
.login-links a{
  color: lightgrey;
}
.card-title{
  width: 100%;
}
