<div class="row full-size no-margin">
  <div class="col s9 m6 valign-wrapper login-container">
    <div class="card login-card">
      <div class="card-image">
        <img src="assets/images/forgot-background.jpg">
        <div class="right login-links">
          <a  routerLink="/login">Sign In</a>
          | <a routerLink="/sign-up">Sign Up</a>
          | <a routerLink="/forgot-password">Forgot Password</a>
        </div>
        <span class="card-title">
          Reset Password
        </span>
      </div>
      <div class="card-content">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="password_one" type="password" class="validate" [(ngModel)]="password1">
            <label for="password_one">Password</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="password_two" type="password" class="validate" [(ngModel)]="password2">
            <label for="password_two">Password Again</label>
          </div>
        </div>
      </div>
      <div class="card-action right-align">
        <a class="pink-button btn waves-effect waves-light" (click)="resetPassword()">Reset Password</a>
      </div>
    </div>
  </div>
  <div class="col s3 m6 background-image"></div>
</div>
