<div class="relative">
  <div class="no-enough" *ngIf="notEnough">Not enough data yet...</div>
</div>
<div class="right">
  <div class="date-range">
    <label for="dateRangePicker" class="active">Date Range</label>
    <input type="text" ngxDaterangepickerMd
           startKey="start" endKey="end"
           [(ngModel)]="selectedDate" [opens]="'left'" [isCustomDate]="customCss"
           (datesUpdated)="getData()"
           id="dateRangePicker" class="form-control"/>
  </div>
  <div class="date-range" *ngIf="apps_id">
    <div class="select-drop-down">
      <label class="active">Release</label>
      <select class="browser-default black-text" [(ngModel)]="selectedFilter" (change)="getData()">
        <option *ngFor="let version of versionFilter">{{version}}</option>
      </select>
    </div>
  </div>
</div>
<h5 class="left metrics-title">{{name}} {{events_id?'Event':spaces_id?'Space':'App'}} Metrics</h5>
<div class="clearfix"></div>
<hr>
<div class="right-align grey-text">View the historical unique views{{events_id?' and attending':spaces_id?' and visitors':', downloads and feature click throughs'}} for your {{events_id?'event':spaces_id?'space':'app or specific app versions'}}.</div>
{{getTopDate(false)|date:'mediumDate'}}
<div class="right">
  {{getTopDate(true)|date:'mediumDate'}}
</div>
<br>
<div style="display: block; width: 100%;">
<canvas baseChart width="400" height="150"
        [datasets]="lineChartData"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
</div>
