<div class="bottom-border">
  <div class="bottom-border paralax"  [ngClass]="{'banner-in-app':appService.hideLogo}">
    <div class="banner-top-back"
         [ngStyle]="{'background-image':'url('+expanseService.cdnUrl+'file/2755/Untitled-2.jpg)'}"></div>
  </div>
</div>
<div class="main-container relative padding"
     [ngStyle]="{'margin-top': '-150px'}">
  <div class="top-back">

  </div>

  <h4><div class="btn pink-button small-button waves-effect waves-light margin-right" (click)="appService.scrollToTop()" routerLink="/legends-sdk">Back</div>Getting Started - Play test with the SideQuest Inspector</h4>
  <hr>
  <div class="right grey-text">Run your SideQuest Legends App inside Unity3D.<br><br></div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="center-align col s12 m6 l3 offset-l3">
      <img src="https://i.imgur.com/sVtrOwq.png" class="responsive-img"/>
    </div>
    <div class="center-align col s12 m6 l3">
      <img src="https://i.imgur.com/m3YEoUH.png" class="responsive-img"/>
    </div>
  </div>
  <br><br>
  <h5>Step 1 - Select Squanch and Enter Space ID</h5>
  <hr>
  <div class="padding">
    Open the <span class="chip">SideQuest</span> option in the <span class="chip">Tools</span> menu of Unity3D. Enter a Space ID to launch Legends in a specific space - this is good for testing against other apps created with Legends.
    Select a squanch file from your hard drive and load it into the selected space. The unity editor will automatically play once you select a file.
  </div><br><br>

  <h5>Step 2 - Re-running the same Squanch</h5>
  <hr>
  <div class="padding">
    Once you have selected a squanch file it will be added to the list of recent squanches selected - this makes it easier to load the same squanch later.
  </div><br><br>

  <div class="btn pink-button small-button waves-effect waves-light margin-right" (click)="appService.scrollToTop()" routerLink="/legends-sdk">Back</div>
  <div class="btn small-button pink-button waves-effect waves-light margin-right" routerLink="/scripting-introduction" (click)="appService.scrollToTop()" >NEXT</div>
  <div class="btn small-button pink-button waves-effect waves-light" routerLink="/developer-faq" (click)="appService.scrollToTop()" >FAQ</div>

  <br>

  <br><br><br><br>
</div>
