<div class="nectar-shape-divider-wrap " style=" height:50px;" data-front="" data-style="curve" data-position="bottom"><svg class="nectar-shape-divider" fill="#1c1c1c" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none"> <path d="M 0 0 c 0 0 200 50 500 50 s 500 -50 500 -50 v 101 h -1000 v -100 z"></path> </svg></div>
<div class="footer-container">
  <div class="padding">

    <div class="row">
      <div class="col s12 center-align hide-on-med-and-up">
        <a href="#/" class="logo">
          <img src="../../assets/images/score-logo.png"/>
        </a>
        <br>
        <br>
        <img src="../../assets/images/logo-textual.png" class="logo-textual"/>
        <br>
      </div>
      <div class="col s6 m4">

        <h5>Quick Links</h5>
        <hr>
        <span class="chip pointer top-chip"
              routerLink="news"
              (click)="appService.scrollToTop()"
              mz-tooltip tooltip="New apps, events and news aggregated from reddit, twitter and discord."
              position="bottom">
          <i class="material-icons prefix teal-text">home</i>
          Home
        </span><br>
        <span class="chip pointer top-chip"
              routerLink="apps/1"
              (click)="appService.scrollToTop()"
              mz-tooltip tooltip="Games you can get on SideQuest"
              position="bottom">
          <i class="material-icons prefix green-text">games</i>
          Games
        </span><br>
        <span class="chip pointer top-chip"
              routerLink="events"
              (click)="appService.scrollToTop()"
              mz-tooltip tooltip="New VR multi user events."
              position="bottom">
          <i class="material-icons prefix blue-text">event</i>
          Events
        </span><br>
        <span class="chip pointer top-chip"
              routerLink="events"
              (click)="appService.scrollToTop()"
              mz-tooltip tooltip="Check out your favorite SideQuest spaces."
              position="bottom">
          <i class="material-icons prefix pink-text">location_on</i>
          Spaces
        </span><br>
        <span class="chip pointer top-chip"
              routerLink="download"
              (click)="appService.scrollToTop()"
              mz-tooltip tooltip="Get the latest version of SideQuest"
              position="bottom">
          <i class="material-icons prefix orange-text">cloud_download</i>
          Download
        </span><br>
        <span class="chip pointer top-chip"
              [routerLink]="appService.isAuthenticated ? 'account' : 'login'"
              (click)="appService.scrollToTop()"
              mz-tooltip tooltip="Access your dashboard."
              position="bottom">
          <i class="material-icons prefix purple-text">dashboard</i>
          {{appService.isAuthenticated? 'Dashboard' : 'Sign In'}}
        </span><br>
        <span class="chip pointer top-chip"
              routerLink="setup-howto"
              (click)="appService.scrollToTop()"
              mz-tooltip tooltip="Get your sidequest setup the first time you install, and watch some how to videos."
              position="bottom">
          <i class="material-icons prefix lime-text">help_outline</i>
          Setup & How To
        </span>
      </div>
      <div class="col s4 center-align hide-on-small-only">
        <br><br><br>
        <a href="#/" class="logo">
          <img src="../../assets/images/score-logo.png"/>
        </a>
      </div>
      <div class="col s6 m4 right-align">
        <h5>Follow Us</h5>
        <hr>
        <span class="chip pointer top-chip"
              onclick="window.location.href = 'https://www.patreon.com/SideQuestVR'"
              mz-tooltip tooltip="People have been so kind, we are humbled."
              position="bottom">
          <img src="assets/images/patreon.jpg" alt="Support us on Patreon."/>
          Support on Patreon
        </span><br>
        <span class="chip pointer top-chip"
              onclick="window.location.href = 'https://paypal.me/sidequestvr'"
              mz-tooltip tooltip="Prefer a one off donation?"
              position="bottom">
          <img src="assets/images/paypal.jpg" alt="Donate on Paypal"/>
          Donate on Paypal
        </span><br>
        <span class="chip pointer top-chip"
              onclick="window.location.href = 'https://discord.me/sidequestvr'"
              mz-tooltip tooltip="Come and join in the chat with the community."
              position="bottom">
          <img src="assets/images/social/Discord.png" alt="Chat on Discord"/>
          Chat on Discord
        </span><br>
        <span class="chip pointer top-chip"
              onclick="window.location.href = 'https://www.reddit.com/r/sidequest'"
              mz-tooltip tooltip="Get all the latest news and updates."
              position="bottom">
          <img src="assets/images/social/Reddit.png" alt="Chat on Discord"/>
          Sub on Reddit
        </span><br>
        <span class="chip pointer top-chip"
              onclick="window.location.href = 'https://www.youtube.com/c/SideQuestVR'"
              mz-tooltip tooltip="Binge watch our progress."
              position="bottom">
          <img src="assets/images/social/Youtube.png" alt="Chat on Discord"/>
          Sub on Youtube
        </span><br>
        <span class="chip pointer top-chip"
              onclick="window.location.href = 'https://www.twitter.com/SideQuestVR'"
              mz-tooltip tooltip="Follow all the latest feeds."
              position="bottom">
          <img src="assets/images/social/Twitter.png" alt="Chat on Discord"/>
          Follow on Twitter
        </span><br>
        <span class="chip pointer top-chip"
              onclick="window.location.href = 'https://www.instagram.com/SideQuestVR'"
              mz-tooltip tooltip="Come and join in the chat with the community."
              position="bottom">
          <img src="assets/images/social/Instagram.png" alt="Chat on Discord"/>
          Follow on Instagram
        </span>
      </div>
      <div class="col s12 center-align">
        <br>
        <img src="../../assets/images/logo-textual.png" class="logo-textual hide-on-small-only"/>
        <span class="hide-on-small-only">
        <br><br><br>
        </span>
        <a routerLink="/privacy" class="white-text">Privacy Policy</a>
        <!--| <a href="#" class="white-text">Terms of Use</a>-->
        <br><br>
        © The Expanse VR Ltd 2019 - 2020
      </div>
    </div>
  </div>
</div>

<div class="cookie-banner" *ngIf="!hideCookies">
  <i (click)="hideCooks()" class="material-icons right small white-text close-cookie-banner">close</i>
  <div class="container">
  We use cookies to improve user experience, and analyze website traffic and provide relevant ads. For these reasons, we may share your site usage data with our analytics partners. By using this website you consent to store on your device all the technologies described in our Privacy Policy. Please read our Privacy Policy for full details.
  </div>
</div>
