.selected{
  border: 10px inset teal;
  border-style: solid inset solid solid;
}

.add-avatar{
  width: 100%;
  height: 350px;
  font-size: 2rem;
  border: 3px dashed #cfcfcf;
  color: white;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.add-avatar-inner{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.1em;
}
.edit-avatar, .delete-avatar{
  position: absolute;
  background: rgba(100, 100, 100, 0.4);
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}
.delete-avatar{
  left: initial;
  right: 0;
}
.pending-chip{
  position:absolute;
  top: 30px;
  left: 5px;
}
.small-image{
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
  margin-bottom: 20px;
}
