
.counter-icon{
  font-size: 0.9em;
  margin-top: -3px;
}

.back-icon{
  margin-right: 10px;
  font-size: 1.2em;
  cursor: pointer;

}
.back-icon:focus {outline:0;}

.top-download{
  margin-top: -45px;
}

.top-image:first-of-type{
  margin-right: 0.3em;
}
.top-image{
  height: 45px;
  vertical-align: middle;
}

.app-summary{
  width: calc(80% - 220px);
  margin-left: 20px;
}
.app-package{
  width: 200px;
  margin-right: 20px;
}

@media screen and (max-width: 992px) {
  .app-summary{
    width: calc(80% - 100px);
    margin-left: 0;
  }
  .app-package{
    width: 100px;
    margin-right: 0;
  }
}
.counter{
  font-size: 1.7em;
  display: inline-block;
  margin-right: 1em;
  vertical-align: middle;
}
.counter-icon{
  font-size: 0.9em;
  margin-top: -3px;
}

.top-tags-name{
  margin-top: -33px;
}
.main-container{
  position: relative;
  z-index: 1;
}
.top-back{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#503b73+1,503b73+100&0+0,0.9+60,1+74,1+100 */
  background: -moz-linear-gradient(top,  rgba(80,59,115,0) 0%, rgba(80,59,115,0.02) 1%, rgba(80,59,115,0.9) 50%, rgba(80,59,115,1) 54%, rgba(80,59,115,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(80,59,115,0) 0%,rgba(80,59,115,0.02) 1%,rgba(80,59,115,0.9) 50%,rgba(80,59,115,1) 54%,rgba(80,59,115,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(80,59,115,0) 0%,rgba(80,59,115,0.02) 1%,rgba(80,59,115,0.9) 50%,rgba(80,59,115,1) 54%,rgba(80,59,115,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00503b73', endColorstr='#503b73',GradientType=0 ); /* IE6-9 */
  width: calc(100% + 50px);
  margin-left: -25px;
  margin-top: -20px;
  height: 155px;
  position: absolute;
  left: 0;
  z-index: -1;
}

.radio-top{
  margin-bottom: 25px;
}

.padding{
  padding-left: 3em;
  padding-right: 3em;
}
.side-border{
  border-left: 1px solid white;
}
.top-border{
  border-top: 1px solid white;
}
.bottom-margin{
  margin-bottom: 7px;
}
.future-date{
  border: 2px solid white;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  text-align: center;
  white-space: nowrap;
  margin: 3px;
  font-size: 1.5em;
  cursor: pointer;
}
