<div class="container" *ngIf="is_not_found && !loading">
  <h4>Not found...</h4>
</div>
<ng-container *ngIf="loading">
  <div class="center-align">
    <div class="tall-placeholder relative">
      <div class="loader-initial"></div>
    </div>
  </div>
</ng-container>
<div class="bottom-border paralax" [ngClass]="{'banner-in-app':service.hideLogo}">
  <div class="banner-top-back" *ngIf="(currentApp.event_image || currentApp.image) && !loading"
    [ngStyle]="{'background-image':'url(\''+(currentApp.event_image || currentApp.image)+'\')'}"></div>
</div>
<div *ngIf="!is_not_found && !loading" class="main-container padding"
  [ngStyle]="{'margin-top': currentApp.event_image || currentApp.image ? '-150px' : '0'}">
  <div class="top-back" *ngIf="currentApp.event_image || currentApp.image">

  </div>
  <h4>
    <i class="material-icons back-icon" (click)="backClicked()">reply</i>
    <img class="responsive-img top-image" *ngIf="currentApp.event_image || currentApp.image"
      src="{{currentApp.event_image || currentApp.image}}" />
    <img class="responsive-img top-image circle pointer" *ngIf="currentApp.preview_image"
      src="{{expanseService.cdnUrl+currentApp.preview_image}}" routerLink="/user/{{currentApp.users_id}}" />
    {{currentApp.event_name||currentApp.name}}
    <span *ngIf="!currentApp.is_approved" class="chip white-text orange">Private</span>

  </h4>
  <div class="right top-tags-name">
    <a class="btn waves-effect waves-light pink-button" *ngIf="currentApp.event_url"
      href="{{currentApp.event_url}}">More Info</a>
    <div class="btn waves-effect waves-light pink-button margin-left" routerLink="/my-event/{{events_id}}"
      (click)="service.scrollToTop()" *ngIf="isMine">Edit Event</div>
  </div>
  <div class="clearfix"></div>
  <hr>

  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="col s12 bottom-margin">
          <div class="right app-package right-align truncate">{{currentApp.start_time*1000|date:'mediumDate'}}</div>
          <div>
            <span class="counter">{{counters.a}}&nbsp;&nbsp;<i class="material-icons vertical-align counter-icon"
                mz-tooltip tooltip="Number of downloads" position="bottom">event</i></span>
            <span class="counter">{{counters.v}}&nbsp;&nbsp;<i class="material-icons vertical-align counter-icon"
                mz-tooltip tooltip="Number of views" position="bottom">visibility</i></span>
            <!--<span class="counter pointer" (click)="likeEvent()">{{counters.l}}&nbsp;&nbsp;<i class="material-icons vertical-align counter-icon"-->
            <!--mz-tooltip tooltip="Number of likes"-->
            <!--position="bottom"-->
            <!--&gt;thumb_up</i></span>-->

            <div class="btn waves-effect waves-light pink-button margin-left small-button" (click)="attendingCount()">
              I'm Going</div>
            <div *ngIf="mySubscription" class="btn waves-effect waves-light pink-button margin-left small-button"
              (click)="unsubscribe()">Unsubscribe</div>

          </div>
        </div>
        <div class="col s12 m6 center-align">
          <h4>{{currentApp.start_time*1000|date:'mediumDate'}}</h4>
          <h6>{{currentApp.start_time*1000|date:'shortTime'}}</h6>
          <br>
        </div>
        <div class="col s12 m6 center-align side-border hide-on-small-only">
          <h4>{{currentApp.event_duration/60|number:'1.0-0'}}</h4>
          <h6>mins</h6>
          <br>
        </div>
        <div class="col s12 m6 center-align hide-on-med-and-up">
          <div class="top-border"></div>
          <h4>{{currentApp.event_duration/60|number:'1.0-0'}}</h4>
          <h6>mins</h6>
          <br>
        </div>
        <div class="col s12" *ngIf="videoObject">
          <br>
          <div>
            <div *ngIf="videoObject.provider === 'youtube'">
              <iframe width="100%" height="360" [src]="videoUrl" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; fullscreen"
                allowfullscreen></iframe>
            </div>
            <div *ngIf="videoObject.provider === 'vimeo'">
              <iframe [src]="videoUrl" width="100%" height="360" frameborder="0" allow="autoplay; fullscreen"
                allowfullscreen></iframe>
            </div>
          </div>
          <br>
        </div>
        <div class="col s12">
          <br>
          <div class="row">
            <div class="col s12">
              <div *ngIf="currentApp.event_description||currentApp.description">
                <div class="input-field radio-top">
                  <label class="active">Description</label>
                </div>
                <p [innerHTML]="currentApp.event_description||currentApp.description"></p>
                <div *ngIf="currentApp.user_name" class="truncate"><br>By {{currentApp.user_name}}</div>
              </div>

              <div *ngIf="currentApp.created">
                <br>
                <div class="input-field radio-top">
                  <label class="active">Added</label>
                </div>
                <p>{{currentApp.created}}</p>
              </div>

              <div *ngIf="currentApp.updated">
                <br>
                <div class="input-field radio-top">
                  <label class="active">Updated</label>
                </div>
                <p>{{currentApp.updated}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col s12 m6" *ngIf="selectedApp">

            <br>
            <h5>SideQuest App</h5>
            <hr>
            <div class="right-align grey-text">Click open to get this app now.</div>
            <app-app-display-box [apps]="[selectedApp]"></app-app-display-box>
          </div>
          <div class="col s12 m6" *ngIf="selectedSpace">
            <br>
            <h5>SideQuest Legends Space</h5>
            <hr>
            <div class="right-align grey-text">See the space this event is hosted in.</div>
            <div class="card card-height">
              <div class="card-image card-image-left waves-effect waves-block waves-light activator"
                *ngIf="selectedSpace.image" [ngStyle]="{'background-image':'url(\''+(selectedSpace.image)+'\')'}">
              </div>
              <div class="card-content card-height">
                <i class="material-icons activator pointer right">more_vert</i>
                <span class="card-title activator white-text truncate"
                  [ngClass]="{'card-title-small':selectedSpace.image}">{{selectedSpace.name||'No Name...'}}</span>
                <p class="grey-text description truncate" [ngClass]="{'card-title-small':selectedSpace.image}">
                  {{selectedSpace.description}}</p>
                <div class="right-align">
                  <span class="chip left white-text"
                    [ngClass]="{'pink-button': selectedSpace.is_approved, 'orange': !selectedSpace.is_approved}">
                    {{selectedSpace.is_approved ? 'Published' : 'Pending'}}
                  </span>
                  <div class="btn-flat waves-effect waves-light white-text small-button"
                    routerLink="/space/{{selectedSpace.spaces_id}}" (click)="service.scrollToTop()">Open</div>
                </div>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><i
                    class="material-icons right">close</i>{{selectedSpace.name||'No Name...'}}</span>
                <p class="grey-text">{{selectedSpace.description}}</p>
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col s6 truncate">
            <div *ngIf="currentApp.app_url">
              <a class="btn waves-effect waves-light pink-button" *ngIf="currentApp.app_url"
                href="{{currentApp.app_url}}">App Page</a>
              <br><br>App Page: {{currentApp.app_url}}
            </div>
          </div>
          <div class="col s6 right-align truncate">
            <div class="btn waves-effect waves-light pink-button" (click)="copyShareUrl()">Copy Share Link</div>
            <br><br>Share Link: {{currentApp.share_url}}
          </div>
        </div>
      </div>

      <div *ngIf="futureEvents && futureEvents.length">
        <br><br>
        <h4>Future Events</h4>
        <hr>
        <div class="row">
          <div class="col s6 m4 l3" *ngFor="let time of futureEvents" routerLink="/event/{{events_id}}/{{time}}">
            <div class="future-date">
              {{time*1000|date:'mediumDate'}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
