
.counter-icon{
  font-size: 0.9em;
  margin-top: -3px;
}

.back-icon{
  margin-right: 10px;
  font-size: 1.2em;
  cursor: pointer;

}
.back-icon:focus {outline:0;}

.top-download{
  margin-top: -45px;
}

.top-image:first-of-type{
  margin-right: 0.3em;
}
.top-image{
  height: 45px;
  vertical-align: middle;
}

.app-summary{
  width: calc(80% - 220px);
  margin-left: 20px;
}
.app-package{
  width: 200px;
  margin-right: 20px;
}

@media screen and (max-width: 992px) {
  .app-summary{
    width: calc(80% - 100px);
    margin-left: 0;
  }
  .app-package{
    width: 100px;
    margin-right: 0;
  }
}
.counter{
  font-size: 1.7em;
  display: inline-block;
  margin-right: 1em;
  vertical-align: middle;
}
.counter-icon{
  font-size: 0.9em;
  margin-top: -3px;
}

.top-tags-name{
  margin-top: -33px;
}
.main-container{
  position: relative;
  z-index: 1;
}

.radio-top{
  margin-bottom: 25px;
}

.padding{
  padding-left: 3em;
  padding-right: 3em;
}
.side-border{
  border-left: 1px solid white;
}
.top-border{
  border-top: 1px solid white;
}
.bottom-margin{
  margin-bottom: 7px;
}
.future-date{
  border: 2px solid white;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  text-align: center;
  white-space: nowrap;
  margin: 3px;
  font-size: 1.5em;
  cursor: pointer;
}
.card-height{
  height: 146px;
}
