<div class="container" *ngIf="is_not_found  && !loading">
  <h4>Not found...</h4>
</div>
<ng-container *ngIf="loading">
  <div class="center-align">
    <div class="tall-placeholder relative">
      <div class="loader-initial"></div>
    </div>
  </div>
</ng-container>
<div *ngIf="!is_not_found && !loading" class="main-container" [ngClass]="{'padding':service.hideLogo,'container':!service.hideLogo}">

  <div class="btn waves-effect waves-light pink-button right margin-left" routerLink="/space/{{spaces_id}}" *ngIf="spaces_id">View Listing</div>
  <div class="btn waves-effect waves-light right pink-button margin-left" *ngIf="spaces_id" (click)="saveSpace()">Save Space</div>

  <h4><i class="material-icons back-icon" routerLink="/account">reply</i>{{spaces_id?'Manage Space':'Create Space'}}
    <span *ngIf="spaces_id" class="chip white-text"
          [ngClass]="{'pink-button': currentApp.is_approved, 'orange': !currentApp.is_approved}">
  {{currentApp.is_approved ? 'Published' : 'Pending'}}
  </span>
  </h4>

  <div *ngIf="spaces_id && currentApp.is_approved">
    <app-stats-chart #chart [spaces_id]="spaces_id" name="[{{spaces_id}}] {{currentApp.name}}"></app-stats-chart>

    <br>

    <div class="center-align">
  <span class="chip pointer top-chip"
        onclick="window.location.href = 'https://www.patreon.com/TheExpanseVR'"
        mz-tooltip tooltip="People have been so kind, we are humbled."
        position="bottom">
      <img src="assets/images/patreon.jpg" alt="Support us on Patreon."/>
      Support us on Patreon
    </span>
      <span class="chip pointer top-chip"
            onclick="window.location.href = 'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=744A6C394Q8JG&source=url'"
            mz-tooltip tooltip="Use this option if you prefer a one off donation."
            position="bottom">
      <img src="assets/images/paypal.jpg" alt="Donate on Paypal"/>
      Donate on Paypal
    </span>
    </div>
    <br>
  </div>
  <div class="row">
    <div class="col s12 m3">
      <h5>Space Image</h5>
      <hr>
      <div class="right-align grey-text">Add an image - 2048px X 1024px is a good size.</div>
      <div #addImage class="add-image" *ngIf="!currentApp.image && !uploadService.is_loading_icon" (click)="uploadIcon()">
        <i class="material-icons">add</i> Add Image
      </div>
      <div class="loader-cont" *ngIf="uploadService.is_loading_icon">
        <div class="loader-initial"></div>
      </div>
      <img class="responsive-img pointer" *ngIf="currentApp.image && !uploadService.is_loading_icon" src="{{currentApp.image}}" (click)="uploadIcon()"/>
      <br><br>
      <h5>Space Video</h5>
      <hr>
      <div class="right-align grey-text">Add promotional footage.</div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">movie</i>
          <input id="video_url" type="text" class="validate" (input)="onVideoChange()" placeholder="http://www.example.com" [(ngModel)]="currentApp.video_url">
          <label for="video_url" class="active">Youtube/Vimeo Url</label>
        </div>
        <div class="col s12" *ngIf="videoObject">
          <div *ngIf="videoObject.provider === 'youtube'">
            <iframe width="100%" height="200" [src]="videoUrl" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
          </div>
          <div *ngIf="videoObject.provider === 'vimeo'">
            <iframe [src]="videoUrl" width="100%" height="200"
                    frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m9 extra-padding-left-small">
      <h5 *ngIf="!spaces_id">Space Listing Details</h5>
      <h5 *ngIf="spaces_id">[{{spaces_id}}] {{currentApp.name}} Listing Details</h5>
      <hr>
      <div class="right-align grey-text">Enter the basic info for your space.</div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">done</i>
          <input id="app_name" type="text" placeholder="My Cool Space" class="validate"
                 [(ngModel)]="currentApp.name">
          <label for="app_name" class="active">Space Name</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">playlist_add</i>
          <textarea id="description" class="materialize-textarea"  placeholder="Space description..."
                    [(ngModel)]="currentApp.description"
          ></textarea>
          <label for="description" class="active">Description</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">location_on</i>
          <input id="event_url" type="text" placeholder="https://example.com" class="validate"
                 [(ngModel)]="currentApp.space_url">
          <label for="app_name" class="active">Space Url</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">exit_to_app</i>
          <input id="app_url" type="text" placeholder="https://example.com" class="validate"
                 [(ngModel)]="currentApp.app_url">
          <label for="app_name" class="active">App Page Url</label>
        </div>
        <div class="col s12">
          <br>
          <h5>Linked App</h5>
          <hr>
          <div class="right-align grey-text">Select an app from your listings to link to this event.</div>
          <div class="row" *ngIf="selectedApp">
            <div class="col s12 m6">
              <div class="card card-height">
                <div class="card-image card-image-left waves-effect waves-block waves-light activator"
                     *ngIf="selectedApp.image_url" [ngStyle]="{'background-image':'url(\''+selectedApp.image_url+'\')'}">
                </div>
                <div class="card-content card-height">
                  <i class="material-icons activator pointer right">more_vert</i>
                  <span class="card-title activator white-text truncate" [ngClass]="{'card-title-small':selectedApp.image_url}">{{selectedApp.name||'No Name...'}}</span>
                  <p class="grey-text description truncate" [ngClass]="{'card-title-small':selectedApp.image_url}">{{selectedApp.summary}}</p>
                  <div class="right-align">
                <span class="chip left white-text"
                      [ngClass]="{'pink-button': selectedApp.active, 'orange': !selectedApp.active}">
                {{selectedApp.active ? 'Published' : 'Pending'}}
                </span>
                  </div>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>{{selectedApp.name||'No Name...'}}</span>
                  <p class="grey-text">{{selectedApp.summary}}</p>
                </div>
              </div>
            </div>
            <div class="col s12 m6 center-align">
              <br><br>
              <div class="btn waves-effect waves-light pink-button small-button" (click)="searchString = '';getApps();linkItem.openModal()">Change App</div>
            </div>
          </div>
          <div class="center-align" *ngIf="!selectedApp">
            <br><br><br>
            <div class="btn waves-effect waves-light pink-button small-button" (click)="searchString = '';getApps();linkItem.openModal()">Select App</div>
            <br>
          </div>
        </div>
        <div *ngIf="spaces_id" class="col s12">
          <br>
          <h5>Share URL</h5>
          <hr>
          <div class="right-align grey-text">This url will show your apps description when shared on social media.</div>
          <div class="center-align">
            <br><br><br>
            <div class="btn waves-effect waves-light pink-button small-button" (click)="copyUrl(currentApp.share_url)">Copy To Clipboard</div>

            <br><br>
            <span *ngIf="currentApp.share_url">Share URL: {{currentApp.share_url}}</span>
            <br>
          </div>
        </div>
        <div *ngIf="spaces_id" class="col s12">
          <br>
          <h5>Delete Space</h5>
          <hr>
          <div class="right-align grey-text">WARNING: This cannot be undone. This will remove the space from the listings.</div>
          <div class="center-align">
            <br><br><br>
            <div class="btn waves-effect waves-light red small-button" (click)="confirmDelete.openModal()">Delete space</div>
            <br><br><br>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngIf="!spaces_id" class="col s12">
        <br>
        <h5>Space Template</h5>
        <hr>
        <div class="right-align grey-text">Pick a template scene to load into your space.</div>
        <div class="row">
          <div class="col s12 m6" *ngFor="let template of spaceTemplates">
            <app-space-template-item [template]="template" (open)="selectTemplate(template)"></app-space-template-item>
          </div>
        </div>
        <div class="btn waves-effect waves-light right pink-button margin-left" (click)="saveSpace()">Create Space</div>
      </div>
    </div>
  </div>
</div>


<mz-modal #customTemplate [fixedFooter]="true">
  <mz-modal-header>
    <h4>Custom Template</h4>
  </mz-modal-header>
  <mz-modal-content>
    Enter the settings for your custom asset bundle.<br><br>
    <div class="padding">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">input</i>
          <input id="asset_url" type="text" class="validate" placeholder="http://www.example.com" [(ngModel)]="selectedTemplate.url">
          <label for="asset_url" class="active">Desktop Url</label>
        </div>
        <div class="input-field col s12" *ngIf="selectedTemplate.url">
          <i class="material-icons prefix">android</i>
          <input id="asset_url_android" type="text" class="white-text" disabled value="{{selectedTemplate.url}}_android">
          <label for="asset_url_android" class="active white-text">Mobile Url</label>
        </div>
      </div>
    </div>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button class="white-text waves-light" [flat]="true" mz-modal-close>Done</button>
  </mz-modal-footer>
</mz-modal>



<mz-modal #linkItem [fixedFooter]="true">
  <mz-modal-header>
    <h4>Search for an App</h4>
  </mz-modal-header>
  <mz-modal-content>
    <div class="right search-box input-field">
      <i class="material-icons prefix">search</i>

      <input id="searchBox" type="text" class="validate"
             [(ngModel)]="searchString"
             (input)="debounceSearch()"
      >
      <label for="searchBox" class="active">Search</label>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col s12 m6" *ngFor="let app of linkApps">
        <div class="card card-height">
          <div class="card-image card-image-left waves-effect waves-block waves-light activator"
               *ngIf="app.image_url" [ngStyle]="{'background-image':'url(\''+app.image_url+'\')'}">
          </div>
          <div class="card-content card-height">
            <i class="material-icons activator pointer right">more_vert</i>
            <span class="card-title activator white-text truncate" [ngClass]="{'card-title-small':app.image_url}">{{app.name||'No Name...'}}</span>
            <p class="grey-text description truncate" [ngClass]="{'card-title-small':app.image_url}">{{app.summary}}</p>
            <div class="right-align">
            <span class="chip left white-text"
                  [ngClass]="{'pink-button': app.active, 'orange': !app.active}">
            {{app.active ? 'Published' : 'Pending'}}
          </span>
              <div class="btn-flat waves-effect waves-light white-text small-button" (click)="linkItem.closeModal();currentApp.apps_id = app.apps_id; selectedApp = app">Select</div>
            </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>{{app.name||'No Name...'}}</span>
            <p class="grey-text">{{app.summary}}</p>
          </div>
        </div>
      </div>
    </div>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button class="white-text waves-light" [flat]="true" mz-modal-close>Close</button>
  </mz-modal-footer>
</mz-modal>

<mz-modal #confirmDelete [fixedFooter]="true">
  <mz-modal-header>
    <h4>Delete this space?</h4>
  </mz-modal-header>
  <mz-modal-content>
    Are you sure you want to delete this space? This cannot be undone!
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button class="white-text waves-light" [flat]="true" mz-modal-close>Close</button>
    <button mz-button class="red" mz-modal-close (click)="deleteSpace()">DELETE space</button>
  </mz-modal-footer>
</mz-modal>
