<div class="card card-height">
  <div class="card-image card-image-left waves-effect waves-block waves-light activator"
       *ngIf="image" [ngStyle]="{'background-image':'url(\''+image+'\')'}">
  </div>
  <div class="card-content">
    <i class="material-icons activator pointer right">more_vert</i>
    <span class="card-title activator white-text truncate" [ngClass]="{'card-title-small':image}">{{name}}</span>
    <p class="grey-text description truncate" [ngClass]="{'card-title-small':image}">{{description}}</p>
    <div class="right-align">
      <span class="left chip" *ngIf="start_time">{{(start_time)*1000|date:'mediumDate'}}</span>
      <span class="left chip" *ngIf="start_time">{{(start_time)*1000|date:'shortTime'}}</span>
      <span class="left chip" *ngIf="duration">{{(duration)/60| number:'1.0-0'}}mins</span>
      <div class="btn-flat waves-effect waves-light white-text" (click)="open.emit()">open</div>
    </div>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>{{name}}</span>
    <p class="grey-text">{{description}}</p>
  </div>
</div>
