<div class="card">
  <div class="card-image waves-effect waves-block waves-light relative" (click)="open.emit()"
       *ngIf="image" [ngStyle]="{'background-image':'url(\''+image+'\')'}">
    <div *ngIf="rating && rating != 0" class="listing-rating z-depth-2">
      <i class="material-icons">star_half</i>
      {{rating|number:'1.2-2'}}
      <span class="rating-number"> [{{number_of_rating}}]</span>
    </div>
    <div *ngIf="downloads && downloads != 0" class="listing-downloads z-depth-2">
      <i class="material-icons">cloud_download</i>
      {{downloads}}
    </div>
    <div *ngIf="license" class="app-list-license">{{license}}</div>
  </div>
  <div class="card-content center-align" [ngClass]="{'big-card-content':start_time}">
    <span class="card-title white-text">
      <i class="material-icons activator right">more_vert</i>
      <div class="full-width activator truncate">{{name}}</div>
    </span>
    <div class="clearfix"></div>
    <div class="grey-text" *ngIf="start_time">
      {{(start_time)*1000|date:'mediumDate'}} at {{(start_time)*1000|date:'shortTime'}} for {{(duration)/60| number:'1.0-0'}} mins
    </div>
    <div class="btn-flat waves-effect waves-light white-text" (click)="open.emit()">open</div>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>{{name}}</span>
    <p class="grey-text">{{description}}</p>
  </div>
</div>
