<div class="main-container padding">
  <div class="right search-box input-field">
    <i class="material-icons prefix">search</i>

    <input id="searchBox" type="text" class="validate"
           [(ngModel)]="searchString"
           (input)="debounceSearch()"
    >
    <label for="searchBox">Search</label>
  </div>
  <!--<app-listing-modes></app-listing-modes>-->
  <h4 class="inline-block">Events & Social</h4>
  <!--<hr class="grey">-->
  <ng-container *ngIf="!isLoaded">
    <div class="center-align">
      <div class="tall-placeholder relative">
        <div class="loader-initial"></div>
      </div>
    </div>
  </ng-container>
  <div class="clearfix"></div>
  <div *ngIf="isLoaded">
    <div class="row">
      <app-timeline-item *ngFor="let event of events; let i = index"
                         [name]="event.event_name||event.name"
                         [description]="event.event_description||event.description"
                         [image]="event.event_image||event.image"
                         [start_time]="event.start_time"
                         [show_date]="event.show_date"
                         [show_date_first]="event.show_date"
                         [duration]="event.event_duration"
                         (open)="router.navigateByUrl('/event/'+event.events_id+'/'+event.start_time);appService.scrollToTop()"
      ></app-timeline-item>
    </div>
    <!--<div *ngIf="!appService.isGrid&&!appService.isTimeline" class="row">-->
      <!--<app-list-item *ngFor="let event of events; let i = index"-->
                     <!--[name]="event.event_name||event.name"-->
                     <!--[description]="event.event_description||event.description"-->
                     <!--[image]="event.event_image||event.image"-->
                     <!--[start_time]="event.start_time"-->
                     <!--[show_date]="event.show_date"-->
                     <!--[show_date_first]="event.show_date && i > 0"-->
                     <!--[duration]="event.event_duration"-->
                     <!--(open)="router.navigateByUrl('/event/'+event.events_id+'/'+event.start_time);appService.scrollToTop()"-->
      <!--&gt;</app-list-item>-->
    <!--</div>-->

    <!--<div class="row"-->
                 <!--*ngIf="appService.isGrid&&!appService.isTimeline">-->
      <!--<div class="col s6 l3" *ngFor="let event of events; let i = index">-->
        <!--<app-grid-item-->
          <!--[name]="event.event_name||event.name"-->
          <!--[description]="event.event_description||event.description"-->
          <!--[image]="event.event_image||event.image"-->
          <!--[start_time]="event.start_time"-->
          <!--[show_date]="event.show_date"-->
          <!--[show_date_first]="event.show_date && i > 0"-->
          <!--[duration]="event.event_duration"-->
          <!--(open)="router.navigateByUrl('/event/'+event.events_id+'/'+event.start_time);appService.scrollToTop()"-->
        <!--&gt;</app-grid-item>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
<br><br><br>
<div class="center-align">
  <div class="btn waves-effect waves-light pink-button" *ngIf="!isLoading&&!hasNoMore" (click)="appService.scrollToTop()" routerLink="/events/{{page}}">Load More</div>
  <div *ngIf="hasNoMore" class="chip">No more items...</div>
</div>
<br><br><br>
