<div class="bottom-border">
  <div class="bottom-border paralax"  [ngClass]="{'banner-in-app':appService.hideLogo}">
    <div class="banner-top-back"
         [ngStyle]="{'background-image':'url(assets/images/scripting-background.jpg)'}"></div>
  </div>
</div>
<div class="main-container relative padding"
     [ngStyle]="{'margin-top': '-150px'}">
  <div class="top-back">

  </div>

  <h4><div class="btn pink-button small-button waves-effect waves-light margin-right" (click)="appService.scrollToTop()" routerLink="/legends-sdk">Back</div>SideQuest Scripting - Networking</h4>
  <hr>

  <div class="right grey-text">Get going with scripting in SideQuest to open a whole world of possibilities to create content.<br><br></div>

  <div class="clearfix"></div>
  <span class="inline-highlight blue">NOTICE</span> This next section assumes you are familiar with Unity3D and C-Sharp scripting. Unity has a lot of great <a href="https://learn.unity.com/">tutorials</a> to get you started.<br><br>

  You can leverage the network layer provided by Legends to add a network sync strategy to your content.
  <app-code-block [someCode]="someCode"></app-code-block>

  <div class="btn pink-button small-button waves-effect waves-light margin-right" (click)="appService.scrollToTop()" routerLink="/legends-sdk">Back</div>
  <div class="btn small-button pink-button waves-effect waves-light margin-right" routerLink="/scripting-app-behaviours" (click)="appService.scrollToTop()" >NEXT</div>
  <div class="btn small-button pink-button waves-effect waves-light" routerLink="/developer-faq" (click)="appService.scrollToTop()" >FAQ</div>

  <br>
  <br><br><br><br>

</div>
