<div class="main-container padding">
  <!--<app-listing-modes></app-listing-modes>-->
  <div class="right search-box input-field">
    <i class="material-icons prefix">search</i>

    <input id="searchBox" type="text" class="validate"
           [(ngModel)]="searchString"
           (input)="debounceSearch()"
    >
    <label for="searchBox">Search</label>
  </div>
  <h4 class="inline-block">Spaces on SideQuest Legends</h4>
  <!--<hr class="grey">-->
  <ng-container *ngIf="!isLoaded">
    <div class="center-align">
      <div class="tall-placeholder relative">
        <div class="loader-initial"></div>
      </div>
    </div>
  </ng-container>
  <div class="clearfix"></div>
  <div *ngIf="isLoaded">
    <div class="row">
      <app-list-item *ngFor="let space of spaces; let i = index"
                     [name]="space.name"
                     [description]="space.description"
                     [image]="space.image"
                     [hide_time]="true"
                     (open)="router.navigateByUrl('/space/'+space.spaces_id);appService.scrollToTop()"
      ></app-list-item>
    </div>
  </div>
</div>
<br><br><br>
<div class="center-align">
  <div class="btn waves-effect waves-light pink-button" *ngIf="!isLoading&&!hasNoMore" (click)="appService.scrollToTop()" routerLink="/spaces/{{page}}">Load More</div>
  <div *ngIf="hasNoMore" class="chip">No more items...</div>
</div>
<br><br><br>
