
.top-chip{
  margin-left: 1em;
  margin-right: 1em;
}

.top-image{
  width: 100%;
  height: 420px;
  background-position: center center;
  background-size: cover;
}

.padding{
  padding-left: 3em;
  padding-right: 3em;
}
