<div class="container">
  <div class="right">
  <span class="chip pointer top-chip"
        onclick="window.location.href = 'https://www.patreon.com/TheExpanseVR'"
        mz-tooltip tooltip="People have been so kind, we are humbled."
        position="bottom">
      <img src="assets/images/patreon.jpg" alt="Support us on Patreon."/>
      Support us on Patreon
    </span>
    <span class="chip pointer top-chip"
          onclick="window.location.href = 'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=744A6C394Q8JG&source=url'"
          mz-tooltip tooltip="Use this option if you prefer a one off donation."
          position="bottom">
      <img src="assets/images/paypal.jpg" alt="Donate on Paypal"/>
      Donate on Paypal
    </span>
  </div>
  <h4>Download the latest SideQuest!</h4>
  <hr>
  <br><br>
  <div class="row">
    <div class="col s12 m6">
      <app-download-box></app-download-box>
    </div>
    <div class="col s12 m6">
      If your using windows, get the <span class="chip">EXE</span> setup file, or the <span class="chip">WIN.ZIP</span> portable file.
      <br><br>
      For mac its the <span class="chip">DMG</span> image file, or the <span class="chip">MAC.ZIP</span> portable file.
      <br><br>
      For linux its the <span class="chip">TAR.XZ</span> file.
    </div>
  </div>
</div>
