<div class="container main-container">
  <div class="right">
  <span class="chip pointer top-chip"
        onclick="window.location.href = 'https://www.patreon.com/TheExpanseVR'"
        mz-tooltip tooltip="People have been so kind, we are humbled."
        position="bottom">
      <img src="assets/images/patreon.jpg" alt="Support us on Patreon."/>
      Support us on Patreon
    </span>
    <span class="chip pointer top-chip"
          onclick="window.location.href = 'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=744A6C394Q8JG&source=url'"
          mz-tooltip tooltip="Use this option if you prefer a one off donation."
          position="bottom">
      <img src="assets/images/paypal.jpg" alt="Donate on Paypal"/>
      Donate on Paypal
    </span>
  </div>
  <h4>Download the latest SideQuest!</h4>
  <hr>
  <br><br>
  <div class="row">
    <div class="col s12 m6">
      <app-download-box></app-download-box>
    </div>
    <div class="col s12 m6">
      <h5>Guide to Downloads</h5>
      <p>For <span class="chip">Windows 8</span> and above, it is recommended to download the Setup <span class="chip">EXE</span> file. Alternately, you may download the ZIP file, which contains the same contents without an installer. For 32bit there is a zip marked <span class="chip">IA32-WIN.ZIP</span>. Windows 7 is not fully supported.</p>
      <p>For users of <span class="chip">OS X / macOS 10.12+</span>, the <span class="chip">DMG</span> file is the recommended option. Alternately, you may download the ZIP file. For both files, once downloaded, double-click and move the SideQuest application to your Applications folder.</p>
      <p><span class="chip">Linux</span> users, you can download the <span class="chip">TAR.XZ</span> file. You may need to install additional packages from your OS. The names of these packages will vary depending on the distribution you are using.</p>
    </div>
  </div>
</div>
