<br><br>
<div class="container">
  <h4>Download the latest SideQuest!</h4>
  <div class="row">
    <div class="col s12 m6">
      <app-download-box></app-download-box>
    </div>
    <div class="col s12 m6">
      If your using windows, get the <span class="chip">EXE</span> setup file, or the <span class="chip">WIN.ZIP</span> portable file.
      <br><br>
      For mac its the <span class="chip">DMG</span> image file, or the <span class="chip">MAC.ZIP</span> portable file.
      <br><br>
      For linux its the <span class="chip">TAR.XZ</span> file.
    </div>
  </div>
</div>
