<div class="bottom-border">
  <div class="bottom-border paralax"  [ngClass]="{'banner-in-app':appService.hideLogo}">
    <div class="banner-top-back"
         [ngStyle]="{'background-image':'url('+expanseService.cdnUrl+'file/2755/Untitled-2.jpg)'}"></div>
  </div>
</div>
<div class="main-container relative padding"
     [ngStyle]="{'margin-top': '-150px'}">
  <div class="top-back">

  </div>

  <h4><div class="btn pink-button small-button waves-effect waves-light margin-right" (click)="appService.scrollToTop()" routerLink="/legends-sdk">Back</div>Getting Started - Build an App</h4>
  <hr>
  <div class="right grey-text">Get Unity3D Setup to use the SideQuest Legends SDK<br><br></div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="center-align col s12 m6 l3">
      <img src="https://i.imgur.com/u62UMMB.png" class="responsive-img"/>
    </div>
    <div class="center-align col s12 m6 l3">
      <img src="https://i.imgur.com/INQrZbB.png" class="responsive-img"/>
    </div>
    <div class="center-align col s12 m6 l3">
      <img src="https://i.imgur.com/2li71EH.png" class="responsive-img"/>
    </div>
    <div class="center-align col s12 m6 l3">
      <img src="https://i.imgur.com/dd5YWZK.png" class="responsive-img"/>
    </div>
  </div>


  <!--<h5>Step 1 - Download </h5>-->
  <!--<hr>-->
  <!--Download the SDK today from the Unity Asset store - search for SideQuest. You can also find the latest SDK available on our github page here.-->
  <!--<br><br>-->

  <h5>Step 1 - Open</h5>
  <hr>
  <div class="padding">
  Open the <span class="chip">SideQuest</span> option in the <span class="chip">Tools</span> menu of Unity3D and select a GameObject in your hierarchy panel.
  </div><br><br>

  <h5>Step 2 - Add Scripts</h5>
  <hr>
  <div class="padding">
    Click <span class="chip">Next</span> to scan the selected game object for AppBehaviours or custom scripts. Note: The defaults here are fine in most cases.
    If you are unsure just click <span class="chip">Next</span>. This will scan the selected GameObject for an AppBehaviour script and attempt to find any
    dependencies for it automatically. The pre-selected items here have been detected as dependencies, but you may also need to select more scripts if their
    types are not defined in the AppBehaviour anywhere.
  </div><br><br>

  <h5>Step 3 - Build Options & Run Build</h5>
  <hr>
  <div class="padding">
    Select <span class="chip">Quick Build</span> to skip the mobile build variant - this greatly reduces build times during testing and allows you to
    test the app on desktop ( or mobile with Oculus Link ). You only need to do a complete a non quick build when you are ready to publish your app. Select
    <span class="chip">Build SideQuest App</span> to start the build process. Keep an eye on the console tab for any issues.
    <br><br>

  </div><br><br>

  <h5>Step 4 - Grab Your Squanch Files!</h5>
  <hr>
  <div class="padding">
    Your app will be compiled into the output folder. If you selected quick build there will be one file otherwise there will be two,
    <span class="chip">gameobject.squanch</span> and <span class="chip">gameobject.squanch_android</span>. These files can be loaded directly into SideQuest Legends
    by creating a space here or you can run them in the SideQuest Inspector to test.

  </div><br><br>

<!--  <h5>More Useful Information</h5>-->
<!--  <hr>-->
<!--  <div class="padding right-align">-->
<!--    <div class="btn small-button pink-button waves-effect waves-light" routerLink="/getting-started-test-app" (click)="appService.scrollToTop()" >Play test with the SideQuest Inspector</div><br><br>-->
<!--    <div class="btn small-button pink-button waves-effect waves-light" routerLink="/scripting-introduction" (click)="appService.scrollToTop()" >Scripting - Introduction</div><br><br>-->
<!--  </div><br><br>-->
  <div class="btn small-button pink-button waves-effect waves-light margin-right" routerLink="/legends-sdk" (click)="appService.scrollToTop()" >Back</div>
  <div class="btn small-button pink-button waves-effect waves-light margin-right" routerLink="/getting-started-test-app" (click)="appService.scrollToTop()" >NEXT</div>
  <div class="btn small-button pink-button waves-effect waves-light" routerLink="/developer-faq" (click)="appService.scrollToTop()" >FAQ</div>

  <br>

  <br><br><br><br>
</div>
