
<a href="javascript:void(0)" class="waves-effect waves-light btn-flat white-text top-button"
     mz-tooltip tooltip="New apps, events and news aggregated from reddit, twitter and discord."
     position="bottom"
     routerLink="news"
     (click)="appService.scrollToTop()">Home</a>
<a href="javascript:void(0)" class="waves-effect waves-light btn-flat white-text top-button"
     mz-tooltip tooltip="Games you can get on SideQuest"
     position="bottom"
     routerLink="apps/1/none/0"
     (click)="appService.scrollToTop()">Games & Apps</a>
<a href="javascript:void(0)" class="waves-effect waves-light btn-flat white-text top-button"
     mz-tooltip tooltip="SideQuest WebVR Experiences."
     position="bottom"
     routerLink="webvr"
     (click)="appService.scrollToTop()">WebVR</a>
<a href="javascript:void(0)" class="waves-effect waves-light btn-flat white-text top-button"
     mz-tooltip tooltip="New VR multi user events."
     position="bottom"
     routerLink="events"
     (click)="appService.scrollToTop()">Events</a>
<a href="javascript:void(0)" class="waves-effect waves-light btn-flat white-text top-button"
     mz-tooltip tooltip="Users with the most legendary content on SideQuest."
     position="bottom"
     routerLink="channels"
     (click)="appService.scrollToTop()">Channels</a>
<a href="javascript:void(0)" class="waves-effect waves-light btn-flat white-text top-button"
     mz-tooltip tooltip="Get the latest SideQuest download."
     position="bottom"
     routerLink="download" *ngIf="!appService.hideLogo"
     (click)="appService.scrollToTop()"
>Download</a>
<!--<a class="waves-effect waves-light btn-flat white-text top-button"-->
<!--   mz-tooltip tooltip="Build VR Apps with the SideQuest SDK."-->
<!--   position="bottom"-->
<!--   routerLink="developers">Developers</a>-->

<a class="waves-effect waves-light btn-flat white-text top-button"
   mz-tooltip tooltip="Support SideQuest and grab some nice kit!"
   position="bottom"
   href="http://tee.pub/lic/L295azlpJYk" target="_blank">Gift Shop</a>
<a href="javascript:void(0)" class="waves-effect waves-light btn-flat white-text top-button"
     mz-tooltip tooltip="Sign in and manage apps and events"
     position="bottom"
     *ngIf="!appService.isAuthenticated"
     routerLink="login"
     (click)="appService.scrollToTop()">Sign In</a>
<a class="waves-effect waves-light btn-flat white-text top-button"
   mz-tooltip tooltip="Get help with common problems."
   position="bottom"
   href="https://github.com/the-expanse/SideQuest/wiki">Help</a>
<a href="javascript:void(0)" class="waves-effect waves-light btn-flat white-text top-button"
     mz-tooltip tooltip="Get your sidequest setup the first time you install, and watch some how to videos."
     position="bottom"
     routerLink="setup-howto"
     (click)="appService.scrollToTop()">Setup</a>

