
.margin-top-icons{
  margin-top: 1.5em;
  margin-right: 1em;
}
.layout-button{
  margin-left: 0.3em;
  margin-right: 0.3em;
  cursor: pointer;
}

.top-splitter{
  border-right: 1px solid #cfcfcf;
  display: inline-block;
  height: 25px;
  margin-left: 11px;
  margin-right: 11px;
}
