.logo img{
  height: 70px;
  position:absolute;
  top: 10px;
  left: 70px;
}
#nav-mobile{
  margin-left: 60px;
}
.top-banner{
  background: #312249 url(../assets/images/bg-header.jpg) top right no-repeat;
  height: 90px;
  width: 100%;
  border-bottom: 1px solid #8f8f8f;
}
.spider-image{
  margin-top: 50px;
  margin-left: -17px;
  position: relative;
  z-index: 99999;
}
.over-menu{
  position:absolute;
  top: 20px;
  left: 5px;
}
.smaller{
  height: 44px;
}
.top-buttons{
  margin-top: 25px;
}
.top-buttons-avatar{
  margin-top: 20px;
}
.smaller-buttons{
  margin-top: 5px;
}
.smaller-buttons-avatar{
  margin-top: 2px;
}
.click-grabber{
  width: 70px;
  height: 48px;
  position: absolute;
  right: 20px;
  cursor: pointer;
}
.avatar-menu{
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 20px;
  vertical-align: middle;
  border: 3px solid #312249;
}
.smaller-buttons-avatar .avatar-menu{
  width: 40px;
  height: 40px;
}
.avatar-menu-margin{
  margin-right: 16px;
}
.header-title{
  position:absolute;
  top: -10px;
  left: 105px;
  font-size: 2.5rem;
  margin-top: 0.4em;
  margin-left: 1em;
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
}
.apk-install {
  font-size: 0.9rem;
  position: absolute;
  top: 55px;
  left: 145px;
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  -webkit-app-region: no-drag;
}
.scroll-container-small{
  position:relative;
  height: calc(100% - 43px);
  overflow-x:hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  width: 100%;
}
.scroll-container{
  position:relative;
  height: calc(100% - 90px);
  overflow-x:hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  width: 100%;
}

.main-container{
  position:relative;
}
.move-down{
  transform: translate(0,80px);
}
.top-button{
  padding-left: 1em;
  padding-right: 1em;
}
.user-menu-back{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 3;
  display:none;
}
.user-menu{
  position: absolute;
  top: 90px;
  right: 25px;
  width: 200px;
  z-index: 4;
  height: 0;
  overflow: hidden;
  transition: height 250ms;
  background: #4e555b;
}
.smaller-menu{
  top: 44px;
}
.top-badge{
  position: absolute;
  top: 48px;
  right: 42px;
}
.smaller-badge{
  top: 20px;
  right: 38px;
}
