.logo img{
  height: 90px;
  position:absolute;
  top: 20px;
  left: 20px;
  transition: 0.35s;
  scroll-behavior: smooth;
}
.logo-collapse img {
  height: 60px;
  top: 10px;
  left: 10px;
}
#nav-mobile{
  margin-left: 60px;
}
.top-banner{
  background: #100e11 url(../assets/images/TopBack.png) bottom right no-repeat;
  background-size: cover;
  height: 170px;
  width: 100%;
  border-bottom: 1px solid #8f8f8f;
  transition: 0.35s;
  position: relative;
}

.collapse{
  position: fixed;
  height: 80px;
  left: 0;
  z-index: 10;
  transition: 0.3s;
  top: -80px;
}
.collapse-open{
  top: 0;
}
.over-menu{
  position:absolute;
  top: 20px;
  left: 20px;
}

@media screen and (max-width: 992px) {
  .top-banner{
    height: 80px;
  }
  .logo img{
    top: 10px;
    height: 60px;
    left: 100px;
  }
  .over-menu{
    position:absolute;
    top: 10px;
    left: 20px;
  }
}
.spider-image{
  margin-top: 50px;
  margin-left: -17px;
  position: relative;
  z-index: 99999;
}
.smaller{
  height: 44px;
}
.collapse .top-buttons{
  position: absolute;
  top: 23px;
  left: 80px;
}
.top-buttons{
  position: absolute;
  top: 120px;
  left: 10px;
}
.smaller-buttons{
  margin-top: 5px;
}
.click-grabber{
  width: 70px;
  height: 48px;
  position: absolute;
  right: 20px;
  cursor: pointer;
}
.header-title{
  position:absolute;
  top: -10px;
  left: 105px;
  font-size: 2.5rem;
  margin-top: 0.4em;
  margin-left: 1em;
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
}
.apk-install {
  font-size: 0.9rem;
  position: absolute;
  top: 55px;
  left: 145px;
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  -webkit-app-region: no-drag;
}
.scroll-container-small{
  position:relative;
  /*height: calc(100% - 43px);*/
  /*overflow-x:hidden;*/
  /*overflow-y: auto;*/
  /*scroll-behavior: smooth;*/
  width: 100%;
}
.scroll-container{
  position:relative;
  /*height: calc(100% - 90px);*/
  /*overflow-x:hidden;*/
  /*overflow-y: auto;*/
  /*scroll-behavior: smooth;*/
  width: 100%;
}

.main-container{
  position:relative;
}
.move-down{
  transform: translate(0,80px);
}
