<div class="top-banner" [ngClass]="{'smaller':appService.hideLogo}">
  <div [ngStyle]="{'display':appService.hideLogo?'none':'block'}">
    <!--<div class="header-title">SideQuest</div>-->
    <!--<div class="apk-install">Make it your own</div>-->
    <a href="#/" class="logo">
      <div class="over-menu hide-on-large-only">
        <i id="btn-sidenav-demo" class="material-icons medium white-text">menu</i>
      </div>
      <!--<img src="assets/images/logo-large icony.png"/>-->
      <img src="assets/images/new-logo.png"/>
    </a>
  </div>
  <div class="user-menu-back" (click)="userMenu.style.height = '0';userMenuBack.style.display = 'none'" #userMenuBack></div>
  <div class="user-menu" #userMenu  [ngClass]="{'smaller-menu':appService.hideLogo}" >
    <div class="btn-flat waves-light waves-light full-width center-align white-text" (click)="userMenu.style.height = '0';userMenuBack.style.display = 'none';appService.scrollToTop()" *ngIf="appService.isAuthenticated && expanseService.currentSession.public_profile" routerLink="/user/{{expanseService.currentSession.users_id}}">Profile</div>
    <div class="btn-flat waves-light waves-light full-width center-align white-text" (click)="userMenu.style.height = '0';userMenuBack.style.display = 'none';appService.scrollToTop()" routerLink="/account">Dashboard</div>
    <div class="btn-flat waves-light waves-light full-width center-align white-text" (click)="userMenu.style.height = '0';userMenuBack.style.display = 'none';appService.scrollToTop()" routerLink="/account/friends">Sidekicks <span class="new badge new-badge" *ngIf="appService.notifications.friend_requests && appService.notifications.friend_requests.length">{{appService.notifications.friend_requests.length|notOverNine}}</span></div>
    <div class="btn-flat waves-light waves-light full-width center-align white-text" (click)="userMenu.style.height = '0';userMenuBack.style.display = 'none'" routerLink="/account/messages">Messages <span class="new badge new-badge" *ngIf="appService.notifications.unread_messages && appService.notifications.unread_messages.length">{{appService.notifications.unread_messages.length|notOverNine}}</span></div>
    <div class="btn-flat waves-light waves-light full-width center-align white-text" (click)="userMenu.style.height = '0';userMenuBack.style.display = 'none';signOut();appService.scrollToTop()">Sign Out</div>
  </div>
  <div [ngStyle]="{'display': appService.isAuthenticated ? 'inline-block' : 'none'}" class="right top-buttons-avatar" [ngClass]="{'smaller-buttons-avatar':appService.hideLogo}" (click)="userMenu.style.height = expanseService.currentSession.public_profile ? '187.5px' : '150px';userMenuBack.style.display = 'block'">
    <img *ngIf="appService.isAuthenticated" class="avatar-menu pointer" src="{{expanseService.cdnUrl+expanseService.currentSession.preview_image}}"/>
    <i *ngIf="appService.isAuthenticated" class="material-icons vertical-align avatar-menu-margin pointer" (click)="userMenu.style.height = expanseService.currentSession.public_profile ? '187.5px' : '150px';userMenuBack.style.display = 'block'">arrow_drop_down</i>
    <span class="new badge new-badge top-badge pointer" [ngClass]="{'smaller-badge':appService.hideLogo}" (click)="userMenu.style.height = expanseService.currentSession.public_profile ? '187.5px' : '150px';userMenuBack.style.display = 'block'" *ngIf="appService.isAuthenticated && ((appService.notifications.friend_requests && appService.notifications.friend_requests.length)||(appService.notifications.unread_messages && appService.notifications.unread_messages.length))">{{appService.notifications.friend_requests.length+appService.notifications.unread_messages.length|notOverNine}}</span>
  </div>
  <div class="right top-buttons hide-on-med-and-down" [ngClass]="{'smaller-buttons':appService.hideLogo}">
    <div class="waves-effect waves-light btn-flat white-text top-button"
         mz-tooltip tooltip="New apps, events and news aggregated from reddit, twitter and discord."
         position="bottom"
         routerLink="news"
    (click)="appService.scrollToTop()">Home</div>
    <div class="waves-effect waves-light btn-flat white-text top-button"
         mz-tooltip tooltip="Users with the most legendary content on SIdeQuest."
         position="bottom"
         routerLink="legends"
         (click)="appService.scrollToTop()">Legends</div>
    <div class="waves-effect waves-light btn-flat white-text top-button"
         mz-tooltip tooltip="Games you can get on SideQuest"
         position="bottom"
         routerLink="apps/1"
         (click)="appService.scrollToTop()">Games</div>
    <div class="waves-effect waves-light btn-flat white-text top-button"
         mz-tooltip tooltip="New VR multi user events."
         position="bottom"
         routerLink="events"
    (click)="appService.scrollToTop()">Events</div>
    <div class="waves-effect waves-light btn-flat white-text top-button"
         mz-tooltip tooltip="SideQuest Spaces."
         position="bottom"
         routerLink="spaces"
         (click)="appService.scrollToTop()">Spaces</div>
    <div class="waves-effect waves-light btn-flat white-text top-button"
         mz-tooltip tooltip="Get the latest SideQuest download."
         position="bottom"
         routerLink="download" *ngIf="!appService.hideLogo"
         (click)="appService.scrollToTop()"
          >Download</div>
    <div class="waves-effect waves-light btn-flat white-text top-button"
         mz-tooltip tooltip="Sign in and manage apps and events"
         position="bottom"
         *ngIf="!appService.isAuthenticated"
         routerLink="login"
         (click)="appService.scrollToTop()">Sign In</div>
    <a class="waves-effect waves-light btn-flat white-text top-button"
         mz-tooltip tooltip="Get help with common problems."
         position="bottom"
         href="https://github.com/the-expanse/SideQuest/wiki">Wiki/FAQ</a>
    <div *ngIf="!appService.isAuthenticated" class="waves-effect waves-light btn-flat white-text top-button"
         mz-tooltip tooltip="Get your sidequest setup the first time you install, and watch some how to videos."
         position="bottom"
         routerLink="setup-howto"
         (click)="appService.scrollToTop()">Setup</div>
  </div>
</div>

<mz-sidenav
  [id]="'sidenav-demo'"
  [collapseButtonId]="'btn-sidenav-demo'" #sidenav>
  <mz-sidenav-header>
    Main Menu
  </mz-sidenav-header>
  <!--<mz-sidenav-subheader>Link Subheader</mz-sidenav-subheader>-->
  <mz-sidenav-link>
    <a routerLink="news" (click)="sidenav.opened = !sidenav.opened">Home</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a routerLink="legends" (click)="sidenav.opened = !sidenav.opened">Legends</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a routerLink="apps/1" (click)="sidenav.opened = !sidenav.opened">Games</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a routerLink="events" (click)="sidenav.opened = !sidenav.opened">Events</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a routerLink="spaces" (click)="sidenav.opened = !sidenav.opened">Spaces</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a routerLink="what-is-sidequest" (click)="sidenav.opened = !sidenav.opened">What is SideQuest?</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a routerLink="download" (click)="sidenav.opened = !sidenav.opened">Download</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a [routerLink]="appService.isAuthenticated ? 'account' : 'login'"
       (click)="sidenav.opened = !sidenav.opened">{{appService.isAuthenticated? 'Dashboard' : 'Sign In'}}</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a routerLink="setup-howto" (click)="sidenav.opened = !sidenav.opened">Setup & How To</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a (click)="openLink('https://discord.me/sidequestvr'); sidenav.opened = !sidenav.opened">Discord</a>
  </mz-sidenav-link>
</mz-sidenav>

<div #scrollContainer [ngClass]="{'scroll-container-small':appService.hideLogo,'scroll-container':!appService.hideLogo}">
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>

<mz-modal #confirmOpen [fixedFooter]="true" [options]="{dismissible: false}" >
  <mz-modal-header>
    <h4>Opening With SideQuest</h4>
  </mz-modal-header>
  <mz-modal-content>
    <div class="center-align">
      We have sent a message to SideQuest. <br><br>
      Please check the SideQuest app for progress and click confirm when your done for us to update things on this end.
      If you need to install SideQuest please click download below and come back here to try this again.<br><br>
      <button mz-button class="white-text pink-button" mz-modal-close routerLink="/download" (click)="appService.cancelSidequestUrl()">Download</button>
      <br><br>
      <span *ngIf="appService.urlTimeoutValue">This screen will auto confirm in 30s, click wait to stop the clock</span>
      <br><br><span *ngIf="appService.urlTimeoutValue">{{appService.urlTimeoutValue}}</span><br><br>
      <button mz-button *ngIf="appService.urlTimeoutValue" class="white-text pink-button margin-left" (click)="appService.clearUrlTimeout()">Wait</button>
    </div>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button class="white-text waves-light" [flat]="true" (click)="appService.cancelSidequestUrl()" mz-modal-close>Cancel</button>
    <button mz-button class="white-text margin-left" [flat]="true"  (click)="appService.retrySidequestUrl()">Retry</button>
    <button mz-button class="white-text pink-button margin-left" mz-modal-close (click)="appService.confirmSidequestUrl()">Confirm</button>
  </mz-modal-footer>
</mz-modal>
