<div class="top-banner">
  <div *ngIf="!hideLogo">
    <div class="header-title">SideQuest</div>
    <div class="apk-install">by The Expanse VR</div>
    <a href="#/" class="logo"><img src="assets/images/logo-large icony.png"/></a>
  </div>
  <div class="right top-buttons">
    <div class="waves-effect waves-light btn-flat white-text" routerLink="news">News</div>
    <div class="waves-effect waves-light btn-flat white-text" routerLink="what-is-sidequest">What is SideQuest?</div>
    <div class="waves-effect waves-light btn-flat white-text" routerLink="app-submissions">App Submissions</div>
    <div class="waves-effect waves-light btn-flat white-text darken-1" routerLink="the-expanse">The Expanse Team</div>
    <div class="waves-effect waves-light btn-flat white-text" routerLink="setup-howto">Setup & How To</div>
  </div>
</div>

<!--<nav>-->
<!--<div class="nav-wrapper pink lighten-2">-->
<!--<a href="#" class="brand-logo"><img src="assets/images/logo.png"/></a>-->
<!--<ul id="nav-mobile" class="hide-on-med-and-down">-->
<!--<li><a href="#">SideQuest News</a></li>-->
<!--<li><a href="#">The Expanse</a></li>-->
<!--<li><a href="#">Submissions</a></li>-->
<!--<li><a href="#">Setup & How To</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</nav>-->
<router-outlet></router-outlet>
