<div class="top-banner" [ngClass]="{'smaller':appService.hideLogo}">
  <div [ngStyle]="{'display':appService.hideLogo?'none':'block'}">
    <div class="header-title">SideQuest</div>
    <div class="apk-install">by The Expanse VR</div>
    <a href="#/" class="logo">
      <div class="over-menu hide-on-large-only">
        <i id="btn-sidenav-demo" class="material-icons medium white-text">menu</i>
      </div>
      <img src="assets/images/logo-large icony.png"/>
    </a>
  </div>
  <div class="right top-buttons hide-on-med-and-down" [ngClass]="{'smaller-buttons':appService.hideLogo}">
    <div class="waves-effect waves-light btn-flat white-text top-button"
         mz-tooltip tooltip="New apps, events and news aggregated from reddit, twitter and discord."
         position="bottom"
         routerLink="news">News & Events</div>
    <div class="waves-effect waves-light btn-flat white-text top-button"
         mz-tooltip tooltip="New apps, events and news aggregated from reddit, twitter and discord."
         position="bottom"
         routerLink="apps/1">Games</div>
    <div class="waves-effect waves-light btn-flat white-text top-button"
         mz-tooltip tooltip="Get the latest SideQuest download."
         position="bottom"
         routerLink="download" *ngIf="!appService.hideLogo">Download</div>
    <div class="waves-effect waves-light btn-flat white-text top-button"
         mz-tooltip tooltip="{{appService.isAuthenticated? 'Manage your apps, repos, events and your account information.' : 'Sign in and manage apps and events'}}"
         position="bottom"
         [routerLink]="appService.isAuthenticated ? 'account' : 'login'">{{appService.isAuthenticated? 'Dashboard' : 'Sign In'}}</div>
    <div class="waves-effect waves-light btn-flat white-text top-button"
         mz-tooltip tooltip="Sign out of your account"
         position="bottom"
         (click)="signOut()"
         *ngIf="appService.isAuthenticated">Sign Out</div>
    <a class="waves-effect waves-light btn-flat white-text top-button"
         mz-tooltip tooltip="Get help with common problems."
         position="bottom"
         href="https://github.com/the-expanse/SideQuest/wiki">Wiki/FAQ</a>
    <div class="waves-effect waves-light btn-flat white-text top-button"
         mz-tooltip tooltip="Get your sidequest setup the first time you install, and watch some how to videos."
         position="bottom"
         routerLink="setup-howto"><span class="badge orange white-text">new users</span>Setup & How To</div>
  </div>
</div>
<mz-sidenav
  [id]="'sidenav-demo'"
  [collapseButtonId]="'btn-sidenav-demo'" #sidenav>
  <mz-sidenav-header>
    Main Menu
  </mz-sidenav-header>
  <!--<mz-sidenav-subheader>Link Subheader</mz-sidenav-subheader>-->
  <mz-sidenav-link>
    <a routerLink="news" (click)="sidenav.opened = !sidenav.opened">News & Events</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a routerLink="what-is-sidequest" (click)="sidenav.opened = !sidenav.opened">What is SideQuest?</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a routerLink="apps/1" (click)="sidenav.opened = !sidenav.opened">Apps</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a routerLink="download" (click)="sidenav.opened = !sidenav.opened">Download</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a [routerLink]="appService.isAuthenticated ? 'account' : 'login'"
       (click)="sidenav.opened = !sidenav.opened">{{appService.isAuthenticated? 'Dashboard' : 'Sign In'}}</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a routerLink="setup-howto" (click)="sidenav.opened = !sidenav.opened">Setup & How To</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a (click)="openLink('https://discord.me/sidequestvr'); sidenav.opened = !sidenav.opened">Discord</a>
  </mz-sidenav-link>

  <!--<mz-sidenav-divider></mz-sidenav-divider>-->
  <!--<mz-sidenav-link >-->
    <!--<a href="#">Active Link</a>-->
  <!--</mz-sidenav-link>-->
  <!--<mz-sidenav-divider></mz-sidenav-divider>-->
  <!--<mz-sidenav-link>-->
    <!--<a href="#" class="waves-effect">Second Link With Waves</a>-->
  <!--</mz-sidenav-link>-->
</mz-sidenav>
<!--<nav>-->
<!--<div class="nav-wrapper pink lighten-2">-->
<!--<a href="#" class="brand-logo"><img src="assets/images/logo.png"/></a>-->
<!--<ul id="nav-mobile" class="hide-on-med-and-down">-->
<!--<li><a href="#">SideQuest News</a></li>-->
<!--<li><a href="#">The Expanse</a></li>-->
<!--<li><a href="#">Submissions</a></li>-->
<!--<li><a href="#">Setup & How To</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</nav>-->

<div #scrollContainer [ngClass]="{'scroll-container-small':appService.hideLogo,'scroll-container':!appService.hideLogo}">
  <router-outlet></router-outlet>
</div>


<mz-modal #confirmOpen [fixedFooter]="true" [options]="{dismissible: false}" >
  <mz-modal-header>
    <h4>Opening With SideQuest</h4>
  </mz-modal-header>
  <mz-modal-content>
    <div class="center-align">
      We have sent a message to SideQuest. <br><br>
      Please check the SideQuest app for progress and click confirm when your done for us to update things on this end.
      If you need to install SideQuest please click download below and come back here to try this again.<br><br>
      <button mz-button class="white-text pink-button" mz-modal-close routerLink="/download" (click)="appService.cancelSidequestUrl()">Download</button>
      <br><br>
      <span *ngIf="appService.urlTimeoutValue">This screen will auto confirm in 30s, click wait to stop the clock</span>
      <br><br><span *ngIf="appService.urlTimeoutValue">{{appService.urlTimeoutValue}}</span><br><br>
      <button mz-button *ngIf="appService.urlTimeoutValue" class="white-text pink-button margin-left" (click)="appService.clearUrlTimeout()">Wait</button>
    </div>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button class="white-text waves-light" [flat]="true" (click)="appService.cancelSidequestUrl()" mz-modal-close>Cancel</button>
    <button mz-button class="white-text margin-left" [flat]="true"  (click)="appService.retrySidequestUrl()">Retry</button>
    <button mz-button class="white-text pink-button margin-left" mz-modal-close (click)="appService.confirmSidequestUrl()">Confirm</button>
  </mz-modal-footer>
</mz-modal>
