.logo img{
  width: 90px;
  position:absolute;
  top: 0;
  left: 50px;
}
#nav-mobile{
  margin-left: 60px;
}
.top-banner{
  background: #312249 url(../assets/images/topbannerback.png) top right no-repeat;
  height: 90px;
  width: 100%;
}
.over-menu{
  position:absolute;
  top: 20px;
  left: 5px;
}
.smaller{
  height: 43px;
}
.top-buttons{
  margin-top: 30px;
}
.smaller-buttons{
  margin-top: 5px;
}
.header-title{
  position:absolute;
  top: -10px;
  left: 105px;
  font-size: 2.5rem;
  margin-top: 0.4em;
  margin-left: 1em;
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
}
.apk-install {
  font-size: 0.9rem;
  position: absolute;
  top: 55px;
  left: 145px;
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  -webkit-app-region: no-drag;
}

.scroll-container-small{
  height: calc(100% - 43px);
  overflow-x:hidden;
  overflow-y: auto;
}
.scroll-container{
  height: calc(100% - 90px);
  overflow-x:hidden;
  overflow-y: auto;
}
.move-down{
  transform: translate(0,80px);
}
