<ng-container *ngIf="uploadService.loading">
  <div class="center-align">
    <div class="tall-placeholder relative">
      <div class="loader-initial"></div>
    </div>
  </div>
</ng-container>
<div class="container" [ngStyle]="{'display' : uploadService.loading ? 'none' : 'block'}">
  <div class="waves-effect waves-light btn right pink-button" (click)="saveAvatar()">Save Custom Avatar</div>
  <h4>Custom Avatar Painter</h4>
  <hr>
  <iframe #editorFrame width="100%" height="550px" src="/assets/avatar-editor.html" allow="vr" style="border: 2px solid #cfcfcf"></iframe>
  <div class="waves-effect waves-light btn right pink-button" (click)="clearImage()">Clear Image</div>
  <div class="waves-effect waves-light btn pink-button margin-right" (click)="pickImage()">Upload Image</div>
  <div class="waves-effect waves-light btn pink-button margin-right" (click)="downloadImage()">Download Image</div>
</div>
