
<mz-sidenav
  [closeOnClick]="true"
  [draggable]="false"
  [edge]="'right'"
  [id]="'mobile-games-menu'"
  #sidenavGames>
  <mz-sidenav-header>
    <h5 class="black-text center-align">Games Menu</h5>
  </mz-sidenav-header>

  <div class="search-box input-field" style="margin-left: 1em; margin-right: 1em; color: black!important;">
    <input id="searchBoxSide" type="text" class="validate"
           [(ngModel)]="searchString"
           (input)="debounceSearch()">
    <label for="searchBoxSide" class="active">Search</label>

  </div>
  <mz-sidenav-subheader>Sort By:</mz-sidenav-subheader>
  <mz-sidenav-link>
    <a class="pointer black-text" routerLink="/apps/{{category}}/{{tag||'none'}}/0/rating">
      <i class="menu-image material-icons">star_half</i><span><b>Hot</b></span></a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a class="pointer black-text" routerLink="/apps/{{category}}/{{tag||'none'}}/0/created">
      <i class="menu-image material-icons">swap_vert</i><span><b>Recent</b></span></a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a class="pointer black-text" routerLink="/apps/{{category}}/{{tag||'none'}}/0/latest">
      <i class="menu-image material-icons">swap_vert</i><span><b>Latest</b></span></a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a class="pointer black-text" routerLink="/apps/{{category}}/{{tag||'none'}}/0/downloads">
      <i class="menu-image material-icons">cloud_download</i><span><b>Downloads</b></span></a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a class="pointer black-text" routerLink="/apps/{{category}}/{{tag||'none'}}/0/name">
      <i class="menu-image material-icons">sort</i><span><b>Name</b></span></a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <div class="">

    <mz-sidenav-link  *ngFor="let item of menuItems" >

      <a class="pointer"

           mz-tooltip tooltip="{{item.description}}"
           position="bottom"
           routerLink="{{item.url}}">
        <img class="menu-image"  *ngIf="item.is_main" src="{{item.image}}"/>
        <span *ngIf="item.is_main"><b>{{item.name}}</b></span>
        <span *ngIf="!item.is_main">{{item.name}}</span>
      </a>
    </mz-sidenav-link>
  </div>
</mz-sidenav>

<div class="main-container padding">


  <div class="move-search-up">
<!--    <app-listing-modes [show_sort]="!appService.isTimeline" [hide_display]="true"-->
<!--                       (recent)="isRecent = true; isRating = false; isDownloads = false; page = 0; getApps()"-->
<!--                       (name)="isRecent = false; isRating = false; isDownloads = false; page = 0; getApps()"-->
<!--                       (rating)="isRecent = false; isRating = true; isDownloads = false; page = 0; getApps()"-->
<!--                       (download)="isRecent = false; isRating = false; isDownloads = true; page = 0; getApps()"></app-listing-modes>-->

<!--    <div class="games-search right hide-on-med-and-down">-->
<!--      <input type="text" class="validate" placeholder="Search..."-->
<!--             [(ngModel)]="searchString"-->
<!--             (input)="debounceSearch()">-->
<!--    </div>-->
  </div>
  <i (click)="sidenavGames.opened = true" class="right material-icons small white-text games-mobile-menu hide-on-large-only pointer">more_vert</i>
  <h4 class="inline-block hide-on-large-only" style="margin: 1.5rem 0 0 18px;">{{category === 1 ? 'Games' : category === 4 ? 'Mods' : category === 2 ? 'Apps' : 'Games & Apps'}}</h4>
  <div class="row margin-top">
    <div class="col l2 xl1 hide-on-med-and-down no-padding">
      <h4 style="margin: 0 0 .912rem -18px;" class="inline-block " >{{category === 1 ? 'Games' : category === 4 ? 'Mods' : category === 2 ? 'Apps' : 'Games & Apps'}}</h4>
      <div class="games-search right hide-on-med-and-down" style="margin: 0 0 .912rem -18px;">
        <input type="text" class="validate" placeholder="Search..."
               [(ngModel)]="searchString"
               (input)="debounceSearch()">
        <br>
        <span class="grey-text">Sort By:</span>
        <br>
        <br>
        <div class="pointer white-text" routerLink="/apps/{{category}}/{{tag||'none'}}/0/rating">
          <i class="menu-image material-icons">star_half</i><span><b>Hot</b></span></div>
        <div class="pointer white-text" routerLink="/apps/{{category}}/{{tag||'none'}}/0/created">
          <i class="menu-image material-icons">swap_vert</i><span><b>Recent</b></span></div>
        <div class="pointer white-text" routerLink="/apps/{{category}}/{{tag||'none'}}/0/latest">
          <i class="menu-image material-icons">insert_invitation</i><span><b>Latest</b></span></div>
        <div class="pointer white-text" routerLink="/apps/{{category}}/{{tag||'none'}}/0/downloads">
          <i class="menu-image material-icons">cloud_download</i><span><b>Downloads</b></span></div>
        <div class="pointer white-text" routerLink="/apps/{{category}}/{{tag||'none'}}/0/name">
          <i class="menu-image material-icons">sort</i><span><b>Name</b></span></div><br>
      </div>

      <div class="game-menu-container">
        <div *ngFor="let item of menuItems" class="pointer"
             [ngClass]="{'menu-chip-main':item.is_main,'menu-chip-sub':!item.is_main}"
             mz-tooltip tooltip="{{item.description}}"
             position="bottom"
             routerLink="{{item.url}}">
          <img *ngIf="item.is_main" class="menu-image" src="{{item.image}}"/>
          <span *ngIf="item.is_main"><b>[ {{item.name}} ]</b></span>
          <span *ngIf="!item.is_main">{{item.name}}</span>
        </div>
        <br><br><br>
        <a href="javascript:void(0)" class="side-ad" *ngIf="expanseService.isNotGolden()"
           (click)="appService.openLink('https://vrcover.com/shop/?itm=411')" routerLink="/" title="VR Cover">
          <img src="https://vrcover.com/wp-content/uploads/2019/07/160х600_COVER_B.png" alt="VR Cover" /></a>
      </div>
    </div>
    <div class="col s12 l10 xl11">
      <ng-container *ngIf="isLoading">
        <div class="center-align">
          <div class="tall-placeholder relative">
            <div class="loader-initial"></div>
          </div>
        </div>
      </ng-container>
      <div class="clearfix"></div>
      <div *ngIf="!apps.length && !isLoading">
        <div class="chip">No more items...</div>
      </div>
      <div *ngIf="!isLoading">

        <div class="clearfix"></div>
        <div class="center-align" *ngIf="expanseService.isNotGolden()">
          <a href="javascript:void(0)" routerLink="/" (click)="appService.openLink('https://vrcover.com/product/oculus-quest-foam-and-interface-basic-set/?itm=411')" >
            <img src="https://vrcover.com/wp-content/uploads/2019/07/728х90_QUEST_A.png" alt="VR Cover" class="responsive-img"/>
          </a>
          <br><br>
        </div>
        <div class="row">
          <app-app-display-box [apps]="apps" [showAds]="true"></app-app-display-box>

        </div>


        <div class="center-align">
          <div class="btn waves-effect waves-light pink-button" *ngIf="!isLoading&&!hasNoMore" (click)="appService.scrollToTop()" routerLink="/apps/{{category}}/{{tag||'none'}}/{{page+1}}/{{order}}">Load More</div>
          <div *ngIf="hasNoMore" class="chip">No more items...</div>
        </div>
        <br><br><br>
      </div>

    </div>


  </div>

</div>
