.side-border{
  border-left: 1px solid white;
}
.side-border:first-child{
  border-left: 0 solid white;
}
.padding{
  padding-left: 3em;
  padding-right: 3em;
}
.search-box{
  width: 330px;
}
.margin-top-icons{
  margin-top: 1em;
}
.back-icon {
  font-size: 3em;
}
