<div class="padding" [ngClass]="{'padding':appService.hideLogo,'container':!appService.hideLogo}">
  <div class="right margin-top-icons">
    <i mz-tooltip tooltip="Enable Grid view mode" position="bottom" class="material-icons layout-button" (click)="isGrid = true;saveGrid()">dashboard</i>
    <i mz-tooltip tooltip="Enable List view mode" position="bottom" class="material-icons layout-button" (click)="isGrid = false;saveGrid()">list</i>
    <i mz-tooltip tooltip="Sort by name" position="bottom" class="material-icons layout-button" (click)="isRecent = false; page = 0; getApps()">sort</i>
    <i mz-tooltip tooltip="Sort by recent" position="bottom" class="material-icons layout-button" (click)="isRecent = true; page = 0; getApps()">swap_vert</i>
  </div>
  <h4 class="inline-block">{{category === 1 ? 'Games' : category === 4 ? 'Mods' : category === 3 ? 'NSFW' : 'Apps'}}</h4>
  <hr class="grey">
  <!--<mz-chip-input-->
    <!--[autocompleteOptions]="searchTags"-->
    <!--[placeholder]="'Enter a tag'"-->
    <!--[secondaryPlaceholder]="'+Tag'"-->
    <!--(add)="onAdd($event)"-->
    <!--(delete)="onDelete($event)"-->
    <!--(select)="onSelect($event)"-->
  <!--[(ngModel)]="searchTags.data">-->
  <!--</mz-chip-input>-->
  <!--<mz-chip-input [placeholder]="'Start typing'" [autocompleteOptions]="autocompleteOptions"></mz-chip-input>-->
  <div class="right search-box input-field">
    <i class="material-icons prefix">search</i>

    <input id="searchBox" type="text" class="validate"
           [(ngModel)]="searchString"
           (input)="debounceSearch()"
    >
    <label for="searchBox">Search</label>
  </div>
  <div class="chip pointer margin-right menu-chip" *ngIf="!appService.hideLogo"
       mz-tooltip tooltip="Official VR Games for Go and Quest."
       position="bottom"
       routerLink="/apps/1">
    <img src="https://the-expanse.github.io/SideQuestRepos/vr-games/icons/vrgames.png"/>
    Games
  </div>
  <div class="chip pointer margin-right menu-chip" *ngIf="!appService.hideLogo"
       mz-tooltip tooltip="Official VR Apps for Go and Quest."
       position="bottom"
       routerLink="/apps/2">
    <img src="https://the-expanse.github.io/SideQuestRepos/vr-apps/icons/vrapps.png"/>
    Apps
  </div>
  <div class="chip pointer margin-right menu-chip" *ngIf="!appService.hideLogo"
       mz-tooltip tooltip="VR Mods for Go and Quest."
       position="bottom"
       routerLink="/apps/4">
    <img src="https://the-expanse.github.io/SideQuestRepos/android-games/icons/games.png"/>
    Mods
  </div>
  <div class="chip pointer margin-right menu-chip" *ngIf="!appService.hideLogo"
       mz-tooltip tooltip="Official VR Games for Go and Quest."
       position="bottom"
       routerLink="/apps">
    <img src="assets/images/logo-large icony.png"/>
    All
  </div>
  <div class="clearfix"></div>
  <div *ngIf="!isGrid">
    <div class="card card-height" *ngFor="let app of apps">
      <div class="card-image card-image-left waves-effect waves-block waves-light activator"
           *ngIf="app.image_url" [ngStyle]="{'background-image':'url(\''+app.image_url+'\')'}">
      </div>
      <div class="card-content">
        <i class="material-icons activator pointer right">more_vert</i>
        <span class="card-title activator white-text truncate" [ngClass]="{'card-title-small':app.image_url}">{{app.name}}</span>
        <p class="grey-text description truncate" [ngClass]="{'card-title-small':app.image_url}">{{app.summary}}</p>
        <div class="right-align">
          <div class="btn-flat waves-effect waves-light white-text" routerLink="/app/{{app.apps_id}}">more info</div>
        </div>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>{{app.name}}</span>
        <p class="grey-text">{{app.summary}}</p>
      </div>
    </div>
  </div>

  <ngx-masonry class="masonry-layout"
               *ngIf="isGrid"
               [updateLayout]="updateMasonryLayout"
               [options]="{ transitionDuration: '0s', gutter: 20, isAnimated: false}">
    <ngxMasonryItem class="masonry-item" *ngFor="let app of apps">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" *ngIf="app.image_url" onerror="this.style.display='none'" src="{{app.image_url}}">
        </div>
        <div class="card-content">
          <span class="card-title activator white-text">{{app.name}}<i class="material-icons right">more_vert</i></span>
          <div class="right-align">
            <div class="btn-flat waves-effect waves-light white-text" routerLink="/app/{{app.apps_id}}">more info</div>
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>{{app.name}}</span>
          <p class="grey-text">{{app.summary}}</p>
        </div>
      </div>
    </ngxMasonryItem>
  </ngx-masonry>
</div>
<br><br><br>
<div class="center-align">
  <div class="btn waves-effect waves-light pink-button" *ngIf="!isLoading&&!hasNoMore" (click)="getApps()">Load More</div>
  <div *ngIf="hasNoMore" class="chip">No more items...</div>
</div>
<br><br><br>
