<div class="container" *ngIf="is_not_found && !loading">
  <h4>Not found...</h4>
</div>
<ng-container *ngIf="loading">
  <div class="center-align">
    <div class="tall-placeholder relative">
      <div class="loader-initial"></div>
    </div>
  </div>
</ng-container>
<mz-parallax *ngIf="(currentApp.image) && !loading" [height]="350">
  <img src="{{currentApp.image}}">
</mz-parallax>
<div *ngIf="!is_not_found && !loading" class="main-container" [ngClass]="{'padding':service.hideLogo,'container':!service.hideLogo}"
     [ngStyle]="{'margin-top': currentApp.image ? '-150px' : '0'}">
  <div class="top-back">

  </div>
  <h4>
    <i class="material-icons back-icon" (click)="backClicked()">reply</i>
    <img class="responsive-img top-image"
         *ngIf="currentApp.image"
         src="{{currentApp.image}}"/>
    <img class="responsive-img top-image circle"
         *ngIf="currentApp.preview_image"
         src="{{expanseService.cdnUrl+currentApp.preview_image}}"/>
    {{currentApp.name}}
    <span *ngIf="!currentApp.is_approved" class="chip white-text orange">Private</span>

  </h4>
  <div class="right top-tags-name">
    <a class="btn waves-effect waves-light pink-button" *ngIf="currentApp.space_url" href="{{currentApp.space_url}}">More Info</a>
    <div class="btn waves-effect waves-light pink-button margin-left" routerLink="/my-space/{{spaces_id}}" (click)="service.scrollToTop()" *ngIf="isMine">Edit Space</div>
  </div>
  <div class="clearfix"></div>
  <hr>

  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="col s12 bottom-margin">
          <div class="right app-package right-align truncate">{{currentApp.updated*1000|date:'mediumDate'}}</div>
          <div>
            <span class="counter">{{counters.a}}&nbsp;&nbsp;<i class="material-icons vertical-align counter-icon"
                                                               mz-tooltip tooltip="Number of downloads"
                                                               position="bottom"
            >event</i></span>
            <span class="counter">{{counters.v}}&nbsp;&nbsp;<i class="material-icons vertical-align counter-icon"
                                                               mz-tooltip tooltip="Number of views"
                                                               position="bottom"
            >visibility</i></span>
            <!--<span class="counter pointer" (click)="likeEvent()">{{counters.l}}&nbsp;&nbsp;<i class="material-icons vertical-align counter-icon"-->
            <!--mz-tooltip tooltip="Number of likes"-->
            <!--position="bottom"-->
            <!--&gt;thumb_up</i></span>-->

            <div class="btn waves-effect waves-light pink-button margin-left small-button" (click)="attendingCount()">Subscribe</div>
            <div *ngIf="mySubscription" class="btn waves-effect waves-light pink-button margin-left small-button" (click)="unsubscribe()">Unsubscribe</div>

          </div>
        </div>
        <div class="col s12" *ngIf="videoObject">
          <br>
          <div>
            <div *ngIf="videoObject.provider === 'youtube'">
              <iframe width="100%" height="360" [src]="videoUrl" frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; fullscreen"
                      allowfullscreen></iframe>
            </div>
            <div *ngIf="videoObject.provider === 'vimeo'">
              <iframe [src]="videoUrl" width="100%" height="360"
                      frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            </div>
          </div>
          <br>
        </div>
        <div class="col s12">
          <br>
          <div class="row">
            <div class="col s12">
              <div *ngIf="currentApp.description">
                <div class="input-field radio-top">
                  <label class="active">Description</label>
                </div>
                <p [innerHTML]="currentApp.description"></p>
                <div *ngIf="currentApp.user_name" class="truncate"><br>By {{currentApp.user_name}}</div>
              </div>

              <div *ngIf="currentApp.created">
                <br>
                <div class="input-field radio-top">
                  <label class="active">Added</label>
                </div>
                <p>{{currentApp.created*1000|date:'mediumDate'}}</p>
              </div>

              <div *ngIf="currentApp.updated">
                <br>
                <div class="input-field radio-top">
                  <label class="active">Updated</label>
                </div>
                <p>{{currentApp.updated*1000|date:'mediumDate'}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <br><br>
        <div class="row">
          <div class="col s6 truncate">
            <a class="btn waves-effect waves-light pink-button" *ngIf="currentApp.app_url" href="{{currentApp.app_url}}">App Page</a>
            <br><br>App Page: {{currentApp.app_url}}
          </div>
          <div class="col s6 right-align truncate">
            <div class="btn waves-effect waves-light pink-button"
                 (click)="copyShareUrl()">Copy Share Link</div>
            <br><br>Share Link: {{currentApp.share_url}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
