<div class="container" *ngIf="is_not_found">
  <h4>Not found...</h4>
</div>
<div *ngIf="!is_not_found" class="main-container" [ngClass]="{'padding':service.hideLogo,'container':!service.hideLogo}">
  <h4>
    <i class="material-icons back-icon" (click)="backClicked()">reply</i>
    <img class="responsive-img top-image pointer"
         *ngIf="currentApp.image_url"
         src="{{currentApp.image_url}}" (click)="openImage(screenshots.length)"/>
    {{currentApp.name}}
  </h4>
  <div class="right top-tags-name">
    <div class="btn waves-effect waves-light pink-button"
         *ngIf="apk_download_urls && apk_download_urls.length && !currentApp.early_access"
         (click)="downloadCount();openItems(apk_download_urls, false)">Install Latest</div>
    <div class="btn waves-effect waves-light pink-button margin-left" routerLink="/my-app/{{apps_id}}" *ngIf="isMine">Edit App</div>
  </div>
  <div class="clearfix"></div>
  <hr>
  <div class="right app-package right-align truncate">{{currentApp.packagename}}</div>
  <div class="app-summary truncate">{{currentApp.summary}}</div>
  <!--<div *ngIf="currentApp.user_name" class="app-summary truncate">By {{currentApp.user_name}}</div>-->
  <br><br>
  <div class="row">
    <div class="col s12 m10">
      <div class="row">
        <div class="col s12 m7">
          <div *ngIf="videoObject">
            <div *ngIf="videoObject.provider === 'youtube'">
              <iframe width="100%" height="360" [src]="videoUrl" frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
            </div>
            <div *ngIf="videoObject.provider === 'vimeo'">
              <iframe [src]="videoUrl" width="100%" height="360"
                      frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            </div>
          </div>
          <img class="responsive-img"
               *ngIf="!videoObject && currentApp.image_url && !is_loading_icon"
               src="{{currentApp.image_url}}"/>

          <div>
            <div class="right" *ngIf="currentApp.early_access">
              <div class="chip pointer"
                   mz-tooltip tooltip="This is is still in early access and has limited availability."
                   position="bottom">
                <img src="assets/images/social/EarlyAccess.png"/>
                Early Access
              </div>
            </div>
        <span class="counter">{{counters.d}}&nbsp;&nbsp;<i class="material-icons vertical-align counter-icon"
                                                           mz-tooltip tooltip="Number of downloads"
                                                           position="bottom"
        >cloud_download</i></span>
            <span class="counter">{{counters.v}}&nbsp;&nbsp;<i class="material-icons vertical-align counter-icon"
                                                               mz-tooltip tooltip="Number of views"
                                                               position="bottom"
            >visibility</i></span>
            <span class="counter pointer" (click)="likeApp()">{{counters.l}}&nbsp;&nbsp;<i class="material-icons vertical-align counter-icon"
                                                                                           mz-tooltip tooltip="Number of likes"
                                                                                           position="bottom"
            >thumb_up</i></span>
          </div>
          <br>

          <!--<img class="screen-shot pointer"-->
               <!--*ngIf="videoObject && currentApp.image_url && !is_loading_icon"-->
               <!--src="{{currentApp.image_url}}" (click)="openImage(screenshots.length)"/>-->
          <img class="screen-shot pointer" *ngFor="let screenshot of screenshots; let i = index" src="{{screenshot}}" (click)="openImage(i)"/>

          <br>
          <h5 *ngIf="app_meta.vc && service.app_index[apps_id]">Currently Installed: [v{{app_meta.vc}}]</h5>

          <div class="btn waves-effect waves-light pink-button"
               *ngIf="app_meta.vc && service.app_index[apps_id] && currentApp.website !== 'BeatOn'" (click)="uninstallApp(currentApp.packagename)">Uninstall</div>
          <div *ngIf="app_meta.vc && service.app_index[apps_id] && currentApp.versioncode < app_meta.vc">
            <br><br>
            <div class="btn waves-effect waves-light pink-button"
                 (click)="downloadCount();openItems(apk_download_urls, false)">Update Available</div>
          </div>
          <div *ngIf="currentApp.donate_url">
            <br><br>
            <div class="btn waves-effect waves-light pink-button"
                 (click)="copyShareUrl()">Copy Share Link</div>
            <br><br>Share Link: {{currentApp.donate_url}}
          </div>

        </div>
        <div class="col s12 m5">
          <div class="row">
            <div class="col s12">
              <div *ngIf="currentApp.description">
                <br>
                <div class="input-field radio-top">
                  <label class="active">Description</label>
                </div>
                <p [innerHTML]="currentApp.description"></p>
              </div>
              <div *ngIf="searchTags && searchTags.length">
                <br>
                <div class="input-field radio-top">
                  <label class="active">Tags</label>
                </div>
                <ng-container>
                  <span *ngFor="let tag of searchTags" class="chip">{{tag}}</span>&nbsp;&nbsp;&nbsp;
                </ng-container>
              </div>
              <div *ngIf="currentApp.supports_quest || currentApp.supports_go || currentApp.supports_other">

                <br>
                <div class="input-field radio-top">
                  <label class="active">Device Support</label>
                </div>
                <ng-container >
                  <span *ngIf="currentApp.supports_quest" class="chip">
                    <img src="assets/images/oculusquest.jpg" alt="Oculus Quest">
                    Oculus Quest</span>&nbsp;&nbsp;&nbsp;
                  <span *ngIf="currentApp.supports_go" class="chip">
                    <img src="assets/images/oculusgo.png" alt="Oculus Go">
                    Oculus Go</span>&nbsp;&nbsp;&nbsp;
                  <span *ngIf="currentApp.supports_other" class="chip">
                    <img src="assets/images/other.jpg" alt="Other">
                    Other</span>&nbsp;&nbsp;&nbsp;
                </ng-container>
              </div>

              <div *ngIf="currentApp.license">
                <br>
                <div class="input-field radio-top">
                  <label class="active">Licence</label>
                </div>
                <p>{{currentApp.license}}</p>
              </div>

              <div *ngIf="currentApp.comfort">
                <br>
                <div class="input-field radio-top">
                  <label class="active">Comfort</label>
                </div>
                <p>{{comforts[currentApp.comfort]}}</p>
              </div>

              <div *ngIf="currentApp.versionname">
                <br>
                <div class="input-field radio-top">
                  <label class="active">Latest Version</label>
                </div>
                <p>[{{currentApp.versioncode}}] {{currentApp.versionname}}</p>
              </div>
              <div *ngIf="currentApp.created">
                <br>
                <div class="input-field radio-top">
                  <label class="active">Added</label>
                </div>
                <p>{{currentApp.created}}</p>
              </div>
              <div *ngIf="currentApp.updated">
                <br>
                <div class="input-field radio-top">
                  <label class="active">Updated</label>
                </div>
                <p>{{currentApp.updated}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="apk_download_urls && apk_download_urls.length && !currentApp.early_access">
        <br><br>
        <h5>Downloads</h5>
        <hr>
        <mz-collapsible
          [mode]="'expandable'"
          [onClose]="closeFunctionCallback"
          [onOpen]="openFunctionCallback"
          [popout]="true">
          <mz-collapsible-item [active]="true">
            <mz-collapsible-item-header>
              <div class="btn right waves-effect waves-light pink-button install-button"
                   (click)="downloadCount();openItems(apk_download_urls, false);">{{apk_download_urls.length > 1 ? 'Install All' : 'Install Now'}}</div>
              Latest Download - {{hasGithubRepo && githubReleases.length ? githubReleases[0].tag_name : currentApp.versionname}}
            </mz-collapsible-item-header>
            <mz-collapsible-item-body>
              <ng-container >
                <div class="row" *ngFor="let url of apk_download_urls">
                  <div class="col s11 vertical-align line-height truncate full-width">
                    {{url.link_url}}
                  </div>
                  <div class="col s1 right-align vertical-align">
                    <a *ngIf="apk_download_urls.length > 1" class="btn-floating vertical-align btn-large waves-effect waves-light pink-button download-button"
                       (click)="openItem('sidequest://sideload/#'+url.link_url)"
                    ><i class="material-icons">cloud_download</i></a>
                  </div>
                </div>
              </ng-container>
            </mz-collapsible-item-body>
          </mz-collapsible-item>
          <ng-container *ngIf="hasGithubRepo && currentApp.github_enabled && currentApp.github_tag === '[ all ]'">
            <mz-collapsible-item *ngFor="let release of githubReleases">
              <mz-collapsible-item-header>
                <div class="btn right waves-effect waves-light pink-button install-button"
                     (click)="downloadCount();openItems(release.assets, true);">{{release.assets.length > 1 ? 'Install All' : 'Install Now'}}</div>
                [{{release.tag_name}}] {{release.name}}
              </mz-collapsible-item-header>
              <mz-collapsible-item-body>
                <ng-container >
                  <div *ngFor="let asset of release.assets">
                    <div class="row">
                      <div class="col s11 vertical-align line-height truncate full-width">
                        {{asset.browser_download_url}}
                      </div>
                      <div class="col s1 right-align vertical-align">
                        <a *ngIf="release.assets.length > 1" class="btn-floating vertical-align btn-large waves-effect waves-light pink-button download-button"><i class="material-icons">cloud_download</i></a>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </mz-collapsible-item-body>
            </mz-collapsible-item>
          </ng-container>
        </mz-collapsible>
      </div>
    </div>
    <div class="col s12 m2">
      <div *ngIf="website_url && website_url.length">
        <div *ngFor="let url of website_url">
          <div class="chip pointer"
               mz-tooltip tooltip="{{url.provider}} {{url.link_url}}"
               position="bottom"
               (click)="openUrl(url.link_url)">
            <!--<img src="{{urlIcons[url.provider].icon}}">-->
            Open Website
          </div>
        </div>
      </div>
      <div *ngIf="store_urls && store_urls.length">
        <div class="input-field radio-top">
          <label class="active">Stores & Reviews</label>
        </div><br>
        <div *ngFor="let url of store_urls">
          <div class="chip pointer"
               mz-tooltip tooltip="{{url.provider}}"
               position="bottom"
               (click)="openUrl(url.link_url)">
            <img src="{{urlIcons[url.provider].icon}}">
            {{url.provider}}
          </div>
        </div>
      </div>
      <div *ngIf="social_urls && social_urls.length">
        <div class="input-field radio-top">
          <label class="active">Social</label>
        </div><br>
        <div *ngFor="let url of social_urls">
          <div class="chip pointer"
               mz-tooltip tooltip="{{url.provider}}"
               position="bottom"
               (click)="openUrl(url.link_url)">
            <img src="{{urlIcons[url.provider].icon}}">
            {{url.provider}}
          </div>
        </div>
      </div>
      <div *ngIf="donate_urls && donate_urls.length">
        <div class="input-field radio-top" >
          <label class="active">Support & Donate</label>
        </div><br>
        <div *ngFor="let url of donate_urls">
          <div class="chip pointer"
               mz-tooltip tooltip="{{url.provider}}"
               position="bottom"
               (click)="openUrl(url.link_url)">
            <img src="{{urlIcons[url.provider].icon}}">
            {{url.provider}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
