

.message-chip{
  height: auto!important;
  border-radius: 32px;
  width: 100%;
}
.user-chip{
  height: 64px;
  border-radius: 32px;
  width: 100%;
  line-height: initial;
}
.user-chip img{
  width: 64px;
  height: 64px;
}
.top-tags-name{
  margin-top: -33px;
}

.top-download{
  margin-top: -45px;
}

@media screen and (max-width: 992px) {
  .top-tags-name{
    margin-top: 0px;
  }
}
.screen-shot{
  height: 100px;
  margin-right: 8px;
  margin-bottom: 8px;
}
.counter{
  font-size: 1.7em;
  display: inline-block;
  margin-right: 1em;
  vertical-align: middle;
}
.counter-icon{
  font-size: 0.9em;
  margin-top: -3px;
}

.padding{
  padding-left: 3em;
  padding-right: 3em;
}
.social-icon{
  width: 36px;
  height: 36px;
  margin-right: 3px;
  border-radius: 100%;
  cursor: pointer;
  border: 2px solid white;
}
.top-image:first-of-type{
  margin-right: 0.3em;
}
.top-image{
  height: 45px;
  vertical-align: middle;
}
.radio-top{
  margin-bottom: 25px;
}
.url-top{
  margin-bottom: 32px;
}
.chip.pointer{
  white-space: nowrap;
}
.line-height{
  line-height: 2rem;
}
.install-button{
  margin-top: -8px;
}
.app-summary{
  width: calc(80% - 220px);
  margin-left: 20px;
}
.app-package{
  width: 200px;
  margin-right: 20px;
}

@media screen and (max-width: 992px) {
  .app-summary{
    width: calc(80% - 100px);
    margin-left: 0;
  }
  .app-package{
    width: 100px;
    margin-right: 0;
  }
}

.main-container{
  position: relative;
  z-index: 1;
}
.rating-margin-left{
  margin-left: 3em;
  margin-top: 0.5em;
}
.review-name{
  font-size: 1.2rem;
  font-weight: bold;
}
.rating-star{
  vertical-align: bottom;
}
.rating-delete{
  margin-top: 16px;
}
.add-review{
  width: 100%;
  line-height: 80px;
  font-size: 1.5rem;
  height: 80px;
  border: 3px dashed #cfcfcf;
  margin: .5rem 0 1rem 0;
  color: white;
  text-align: center;
  cursor: pointer;
}
