<div class="bottom-border">
  <div class="bottom-border paralax"  [ngClass]="{'banner-in-app':appService.hideLogo}">
    <div class="banner-top-back"
         [ngStyle]="{'background-image':'url('+expanseService.cdnUrl+'file/2755/Untitled-2.jpg)'}"></div>
  </div>
</div>
<div class="main-container relative padding" [ngStyle]="{'margin-top': '-150px'}">

  <div class="top-back">

  </div>

  <h4><div class="btn small-button pink-button waves-effect waves-light margin-right" routerLink="/legends-sdk">Back</div>Developer FAQ</h4>
  <hr>
  <div class="right-align grey-text">Common issues and solutions you could encounter while using the Legends SDK<br><br></div>

  <h5> - What is the SideQuest Inspector and what benefit does it offer when using the Legends SDK?</h5>
  <hr>
  <div class="padding">
    The SideQuest Inspector is the most powerful tool in the Legends SDK. The beautiful part about the SideQuest Inspector is that
    it allows you to run the full Legends game platform inside the Unity3D editor with full access to the Unity3D tools for inspecting,
    debugging and improving performance. This means we can allow developers to have as much power as we do to build the best apps they can on Legends.
  </div><br><br>
  <h5> - Do I need the SideQuest Inspector?</h5>
  <hr>
  <div class="padding">
    When we started building the Legends SDK we realised that to provide developers with powerful scripting capability
    was pretty awesome but pretty soon it was clear we had to do more in order to provide a complete developer solution. We needed
    to find a way to give developers as much power as us when we build Legends. To solve this problem we built the SideQuest Inspector
    mode into our SDK. The inspector lets you run the entire legends platform inside unity giving you ultimate control to be able to leverage unity
    to help debug your applications.
  </div><br><br>
  <h5> - What can't I do with the Legends SDK?</h5>
  <hr>
  <div class="padding">
    The legends SDK is designed to give developers as much control and power as possible to be able to build truly interactive and functional applications.
    We have disabled some features to protect users and their data and there are also some other unrelated gotchas too.
    <br><br>
    - You cannot access the System.IO namespace.<br>
    - You cannot use reflection.<br>
    - Some other namespaces are also disabled.<br>
    - Until approved by us your custom scripts cannot run on other user's clients unless they agree.<br>
    - Public spaces will need to be approved before they will function on everyone's client.<br>
    - You cannot use enums ( Mono Cecil limitation ).
  </div><br><br>

<!--  <h5>More Useful Information</h5>-->
<!--  <hr>-->
<!--  <div class="padding right-align">-->
<!--    <div class="btn small-button pink-button waves-effect waves-light" routerLink="/developers">Play test with the SideQuest Inspector</div><br><br>-->
<!--    <div class="btn small-button pink-button waves-effect waves-light" routerLink="/developers">Scripting - Introduction</div><br><br>-->
<!--  </div><br><br>-->
  <div class="btn small-button pink-button waves-effect waves-light" routerLink="/legends-sdk">Back</div> <br>

  <br><br><br><br>
</div>
