
.add-image, .add-screenshot, .loader-cont{
  width: 100%;
  line-height: 256px;
  font-size: 1.5rem;
  height: 256px;
  border: 3px dashed #cfcfcf;
  margin: .5rem 0 1rem 0;
  color: white;
  text-align: center;
  cursor: pointer;
}
.add-screenshot{
  height: 124px;
  line-height: 124px;
}
.loader-cont{
  border: 0 dashed #cfcfcf;
  position:relative;
}
.apk-height{
  height: 240px;
}
.url-row-padding{
  padding-left:4em;
  padding-right: 4em;
}
.margin-bottom{
  margin-bottom: 0.2em;
}
.url-col{
  padding-top: 0.7em;
}
.select-drop-down{
  width: calc(100% - 45px);
  position:relative;
  display: inline-block;
}
.select-icon{
  width: 3rem;
  font-size: 2rem;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.loader-small {
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #ed4e7a; /* Pink */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  display: inline-block;
}
.back-icon{
  margin-right: 10px;
  font-size: 1.5em;
  cursor: pointer;

}
.back-icon:focus {outline:0;}
.screenshot-container{
  width: 300px;
  position:relative;
  margin: auto;
}
.radio-top{
  margin-bottom: 30px;
}
.fixed-height{
  height: 160px;
}
.extra-padding-left-small{
  padding-left: 2em;
}
.extra-padding-left{
  padding-left: 3.8em;
}
.top-package-name{
  margin-top: 22px;
}

.padding{
  padding-left: 3em;
  padding-right: 3em;
}
.margin-top{
  margin-top: 2em;
}
.bottom-border{
  border-bottom: 1px solid #cfcfcf;
}

.add-app{
  width: 100%;
  line-height: 40px;
  font-size: 1rem;
  height: 50px;
  border: 3px dashed #cfcfcf;
  margin: .5rem 0 1rem 0;
  color: white;
  text-align: center;
  cursor: pointer;
}

.top-chip{
  margin-left: 1em;
  margin-right: 1em;
}
