<div class="container" *ngIf="is_not_found && !loading">
  <h4>Not found...</h4>
</div>
<ng-container *ngIf="loading">
  <div class="center-align">
    <div class="tall-placeholder relative">
      <div class="loader-initial"></div>
    </div>
  </div>
</ng-container>
<div *ngIf="!is_not_found && !loading" class="main-container" [ngClass]="{'padding':service.hideLogo,'content-container':!service.hideLogo}">

  <div class="btn waves-effect waves-light pink-button right margin-left" routerLink="/app/{{apps_id}}" *ngIf="apps_id">View Listing</div>
  <div *ngIf="(apps_id && expanseService.currentSession.users_id == currentApp.users_id) || !apps_id" class="btn waves-effect waves-light right pink-button margin-left" (click)="saveApp()">Save App</div>
  <div *ngIf="(apps_id && expanseService.currentSession.users_id == currentApp.users_id)" class="right center-align" mz-tooltip tooltip="This will disable downloads of your app and you can provide keys to users to be able to install ( this is only partially implemented so i have disabled it for now )" position="bottom">
    Coming Soon
    <div class="switch">
      <label>
        Off
        <input type="checkbox" [(ngModel)]="currentApp.early_access">
        <span class="lever"></span>
        On
      </label>
    </div>
  </div>

  <h4><i class="material-icons back-icon" routerLink="/account">reply</i>{{apps_id?'Manage App':'Create App'}}
    <span *ngIf="apps_id" class="chip white-text"
          [ngClass]="{'pink-button': currentApp.active, 'orange': !currentApp.active}">
  {{currentApp.active ? 'Published' : 'Pending'}}
  </span>
  </h4>

  <div *ngIf="apps_id && currentApp.active">
    <app-stats-chart #chart [apps_id]="apps_id" name="[{{apps_id}}] {{currentApp.name}}"></app-stats-chart>

    <br>

    <div class="center-align">
  <span class="chip pointer top-chip"
        onclick="window.location.href = 'https://www.patreon.com/TheExpanseVR'"
        mz-tooltip tooltip="People have been so kind, we are humbled."
        position="bottom">
      <img src="assets/images/patreon.jpg" alt="Support us on Patreon."/>
      Support us on Patreon
    </span>
      <span class="chip pointer top-chip"
            onclick="window.location.href = 'https://paypal.me/sidequestvr'"
            mz-tooltip tooltip="Use this option if you prefer a one off donation."
            position="bottom">
      <img src="assets/images/paypal.jpg" alt="Donate on Paypal"/>
      Donate on Paypal
    </span>
    </div>
    <br>
  </div>
  <div class="row">
    <div class="col s12 m3">
      <h5>App Icon</h5>
      <hr>
      <div class="right-align grey-text">Add an icon - 512px X 512px is a good size.</div>
      <div #addImage class="add-image" *ngIf="!currentApp.image_url && !is_loading_icon && ((apps_id && expanseService.currentSession.users_id == currentApp.users_id) || !apps_id)" (click)="uploadIcon()">
        <i class="material-icons">add</i> Add Image
      </div>
      <div class="loader-cont" *ngIf="uploadService.is_loading_icon">
        <div class="loader-initial"></div>
      </div>
      <img class="responsive-img pointer" *ngIf="currentApp.image_url && !is_loading_icon" src="{{currentApp.image_url}}" (click)="uploadIcon()"/>
      <br><br>
      <h5>App Video</h5>
      <hr>
      <div class="right-align grey-text">Add game-play or trailer footage.</div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">movie</i>
          <input id="video_url" type="text" class="validate" (input)="onVideoChange()" placeholder="http://www.example.com" [(ngModel)]="currentApp.video_url">
          <label for="video_url" class="active">Youtube/Vimeo Url</label>
        </div>
        <div class="col s12" *ngIf="videoObject">
          <div *ngIf="videoObject.provider === 'youtube'">
            <iframe width="100%" height="200" [src]="videoUrl" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
          </div>
          <div *ngIf="videoObject.provider === 'vimeo'">
            <iframe [src]="videoUrl" width="100%" height="200"
                    frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <br>
      <h5>App Screenshots</h5>
      <hr>
      <div class="right-align grey-text">Add an app screenshot.</div>
      <div class="loader-cont add-screenshot" *ngIf="uploadService.is_loading_screenshot">
        <div class="loader-initial"></div>
      </div>
      <div #addScreenshot class="add-screenshot" *ngIf="!uploadService.is_loading_screenshot  && ((apps_id && expanseService.currentSession.users_id == currentApp.users_id) || !apps_id)" (click)="uploadScreenshot()">
        <i class="material-icons">add</i> Add Screenshot
      </div>
      <img class="responsive-img pointer" *ngFor="let screenshot of screenshots; let i = index" (click)="currentScreenshot = i; manageScreenshot.openModal()" src="{{screenshot}}"/>
      <br><br>
    </div>
    <div class="col s12 m9 extra-padding-left-small">
      <div class="right top-package-name" *ngIf="apps_id">
        {{currentApp.packagename}}
      </div>
      <h5 *ngIf="!apps_id">App Listing Details</h5>
      <h5 *ngIf="apps_id">[{{apps_id}}] {{currentApp.name}} Listing Details</h5>
      <hr>
      <div class="right-align grey-text">Enter the basic info for your application.</div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">done</i>
          <input id="app_name" type="text" placeholder="My Cool App" class="validate"
                 [(ngModel)]="currentApp.name">
          <label for="app_name" class="active">App Name</label>
        </div>
        <div class="input-field col s12" [ngClass]="{'m8': !apps_id}" *ngIf="!apps_id">
          <i class="material-icons prefix">extension</i>
          <input id="package_name" placeholder="com.example.app" type="text" class="validate"
                 [(ngModel)]="currentApp.packagename">
          <label for="package_name" class="active">Package Name</label>
        </div>
        <div #dropJson class="col s12 m4" *ngIf="!apps_id">
          <div class="add-app" >
            Drop JSON Here
          </div>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">mode_edit</i>
          <input id="summary" type="text" class="validate" placeholder="One liner summary..."
                 [(ngModel)]="currentApp.summary"
          >
          <label for="summary" class="active">Summary</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">playlist_add</i>
          <textarea id="description" class="materialize-textarea"  placeholder="Long description ( not including the summary line )..."
                    [(ngModel)]="currentApp.description"
          ></textarea>
          <label for="description" class="active">Description</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons select-icon">search</i>
          <label class="active extra-padding-left">Search Tags</label>
          <mz-chip-input  class="select-drop-down"
                          [placeholder]="'Hit enter to add...'"
                          [secondaryPlaceholder]="'Another...'"
                          (add)="onAddTag($event)"
                          [(ngModel)]="searchTags">
            <!--(add)="onAddTag($event)"-->
            <!--(delete)="onDeleteTag($event)"-->
            <!--[autocompleteOptions]="comfortAutocomplete"-->
            <!---->
          </mz-chip-input>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">fingerprint</i>
          <input id="version_code" type="number" onclick="this.select()" class="validate" placeholder="12" [(ngModel)]="currentApp.versioncode">
          <label for="version_code" class="active">Version Code ( used for auto updates )</label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">toc</i>
          <input id="version_name" type="text" class="validate" placeholder="v0.1.0" [(ngModel)]="currentApp.versionname">
          <label for="version_name" class="active">Version Name</label>
        </div>

        <div class="col s6 m3 fixed-height extra-padding-left">
          <div class="input-field radio-top">
            <label class="active">Type</label>
          </div>
          <mz-radio-button-container>
            <input mz-radio-button
                   [label]="'Games'"
                   [withGap]="true"
                   id="devices-Quest"
                   name="type-group"
                   value="1"
                   type="radio" [(ngModel)]="currentApp.app_categories_id">
            <br>
            <input mz-radio-button
                   [label]="'Apps'"
                   [withGap]="true"
                   id="devices-Go"
                   name="type-group"
                   value="2"
                   type="radio" [(ngModel)]="currentApp.app_categories_id">
            <br>
            <input mz-radio-button
                   [label]="'Mods'"
                   [withGap]="true"
                   id="devices-Mods"
                   name="type-group"
                   value="4"
                   type="radio" [(ngModel)]="currentApp.app_categories_id">
            <br>
            <input mz-radio-button
                   [label]="'NSFW'"
                   [withGap]="true"
                   id="devices-Other"
                   name="type-group"
                   value="3"
                   type="radio" [(ngModel)]="currentApp.app_categories_id">
          </mz-radio-button-container>

          <div *ngIf="currentApp.app_categories_id === '4'">
            <i class="material-icons select-icon">public</i>
            <div class="select-drop-down">
              <label class="active">Mod Type</label>
              <select class="browser-default black-text "
                      [(ngModel)]="currentApp.website">
                <option>APKInstall</option>
                <option>FirefoxSkybox</option>
                <option>SynthRiders</option>
                <option>BeatOn</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col s6 m3 fixed-height">
          <div class="input-field radio-top">
            <label class="active">Devices</label>
          </div>
          <mz-switch-container>
            <input mz-switch
                   id="switch-quest"
                   [(ngModel)]="currentApp.supports_quest"
                   [on]="'Quest'"
                   type="checkbox">
          </mz-switch-container><br>
          <mz-switch-container>
            <input mz-switch
                   id="switch-go"
                   [(ngModel)]="currentApp.supports_go"
                   [on]="'Go'"
                   type="checkbox">
          </mz-switch-container><br>
          <mz-switch-container>
            <input mz-switch
                   id="switch-other"
                   [(ngModel)]="currentApp.supports_other"
                   [on]="'Other'"
                   type="checkbox">
          </mz-switch-container>

        </div>
        <div class="col s6 m3 white-text extra-padding-left">
          <div class="input-field radio-top">
            <label class="active">Comfort Level</label>
          </div>
          <mz-radio-button-container>

            <input mz-radio-button
                   [label]="'Comfortable'"
                   [withGap]="true"
                   id="comfort-Comfortable"
                   name="comfort-group"
                   [value]="0"
                   type="radio" [(ngModel)]="currentApp.comfort"><br>
            <input mz-radio-button
                   [label]="'Moderate'"
                   [withGap]="true"
                   id="comfort-Moderate"
                   name="comfort-group"
                   [value]="1"
                   type="radio" [(ngModel)]="currentApp.comfort"><br>
            <input mz-radio-button
                   [label]="'Average'"
                   [withGap]="true"
                   id="comfort-Average"
                   name="comfort-group"
                   [value]="2"
                   type="radio" [(ngModel)]="currentApp.comfort"><br>
            <input mz-radio-button
                   [label]="'Exciting'"
                   [withGap]="true"
                   id="comfort-Exciting"
                   name="comfort-group"
                   [value]="3"
                   type="radio" [(ngModel)]="currentApp.comfort"><br>
            <input mz-radio-button
                   [label]="'Intense'"
                   [withGap]="true"
                   id="comfort-Intense"
                   name="comfort-group"
                   [value]="4"
                   type="radio" [(ngModel)]="currentApp.comfort">
          </mz-radio-button-container>
        </div>
        <div class="col s6 m3 white-text">
          <div class="input-field radio-top">
            <label class="active">License</label>
          </div>
          <mz-radio-button-container>

            <input mz-radio-button
                   [label]="'Free'"
                   [withGap]="true"
                   id="license-FREE"
                   name="license-group"
                   value="FREE"
                   type="radio" [(ngModel)]="currentApp.license"><br>
            <input mz-radio-button
                   [label]="'Demo'"
                   [withGap]="true"
                   id="license-DEMO"
                   name="license-group"
                   value="DEMO"
                   type="radio" [(ngModel)]="currentApp.license"><br>
            <input mz-radio-button
                   [label]="'Pre-Release'"
                   [withGap]="true"
                   id="license-PRERELEASE"
                   name="license-group"
                   value="PRERELEASE"
                   type="radio" [(ngModel)]="currentApp.license"><br>
            <input mz-radio-button
                   [label]="'Paid'"
                   [withGap]="true"
                   id="license-PAID"
                   name="license-group"
                   value="PAID"
                   type="radio" [(ngModel)]="currentApp.license"><br>
            <input mz-radio-button
                   [label]="'Open Source'"
                   [withGap]="true"
                   id="license-OPENSOURCE"
                   name="license-group"
                   value="OPENSOURCE"
                   type="radio" [(ngModel)]="currentApp.license">
          </mz-radio-button-container>
        </div>
        <!--<div class="input-field col s12">-->
        <!--<i class="material-icons prefix">public</i>-->
        <!--<input id="website" type="text" class="validate" placeholder="http://www.example.com" [(ngModel)]="currentApp.website">-->
        <!--<label for="website" class="active">Website Url</label>-->
        <!--</div>-->
        <!--<div class="input-field col s12">-->
        <!--<i class="material-icons prefix">public</i>-->
        <!--<input id="donate_url" type="text" class="validate" placeholder="http://www.example.com" [(ngModel)]="currentApp.donate_url">-->
        <!--<label for="donate_url" class="active">Donate Url</label>-->
        <!--</div>-->
      </div>
      <br>
      <div *ngIf="((apps_id && expanseService.currentSession.users_id == currentApp.users_id) || !apps_id)">
        <h5>App Urls</h5>
        <hr>
        <div class="right-align grey-text">Input an APK url or select github releases to get the latest releases from github.</div>
        <div class="row">
          <div class="col s6">
            <div class="input-field">
              <i class="material-icons prefix">public</i>
              <input id="website" type="text" class="validate" placeholder="http://www.example.com" [(ngModel)]="addNewUrlLink">
              <label for="website" class="active">Link Url</label>
            </div>
          </div>
          <div class="col s3">
            <i class="material-icons select-icon">public</i>
            <div class="select-drop-down">
              <label class="active">Link Type</label>
              <select class="browser-default black-text "
                      [(ngModel)]="addNewUrlType" *ngIf="urlTypes">
                <option *ngFor="let url of urlTypes">{{url}}</option>
              </select>
            </div>
          </div>
          <div class="col s3 margin-top">
            <div class="right btn waves-effect waves-light pink-button" (click)="addAppUrl()">Add</div>
          </div>
          <div class="col s12"><br><br></div>

          <div class="col s12 url-row-padding">
            <div class="row bottom-border" *ngFor="let app_url of app_urls; let i = index">
              <div class="col s6 extra-padding-left url-col truncate">
                {{app_url.link_url}}
              </div>
              <div class="col s4 extra-padding-left url-col truncate">
                {{app_url.provider}}
              </div>
              <div class="col s2 ">
                <div class="right btn waves-effect waves-light pink-button margin-bottom small-button" (click)="removeUrl(i)">Remove</div>
              </div>
            </div>
          </div>

          <div class="col s12">
            <br>
          </div>

          <div class="col s6 extra-padding-left" *ngIf="!currentApp.github_enabled">
            When enabled, the latest release on your listing page will be the latest/selected release on github.
            Any APK or OBB file links added will also appear in the listing under Latest Release.
            <br><br>
            When Github Releases are enabled, the listing will
            instead use the release tag_name instead of versionName and release ID instead of version code. This is then
            used to coordinate automatic updates for your app.
            <!--<div class="input-field">-->
            <!--<i class="material-icons prefix">public</i>-->
            <!--<input id="apk_url" type="text" class="validate" placeholder="http://www.example.com" [(ngModel)]="currentApp.apk_url">-->
            <!--<label for="apk_url" class="active">APK Url</label>-->
            <!--</div>-->
          </div>
          <div class="col s6" *ngIf="currentApp.github_enabled">
            <div class="input-field">
              <i class="material-icons prefix">insert_emoticon</i>
              <input id="github_name" type="text" class="validate" placeholder="the-expanse"
                     (input)="debounce(findGitRepos)"
                     [(ngModel)]="currentApp.github_name">
              <label for="github_name" class="active">Github User/Org name</label>
            </div>
            <div *ngIf="hasGithubName">
              <i class="material-icons select-icon">public</i>
              <div class="select-drop-down">
                <label class="active">Repos</label>
                <select class="browser-default black-text "
                        [(ngModel)]="currentApp.github_repo"
                        (change)="debounce(findGitReleases)">
                  <option *ngFor="let repo of githubRepos">{{repo.name}}</option>
                </select>
              </div>
            </div>
            <div *ngIf="hasGithubName && hasGithubRepo">

              <i class="material-icons select-icon">public</i>
              <div class="select-drop-down">
                <label class="active">Release</label>
                <select class="browser-default black-text "
                        [(ngModel)]="currentApp.github_tag">
                  <option *ngFor="let release of githubReleases">{{release.tag_name}}</option>
                </select>
              </div>
            </div>
            <div class="center-align"><div *ngIf="isGettingGithub" class="loader-small"></div></div>

          </div>
          <div class="col s6 center-align">
            <br><br>
            <h5>Enable<br>Github Releases</h5>
            <div class="switch">
              <label>
                Off
                <input type="checkbox" [(ngModel)]="currentApp.github_enabled">
                <span class="lever"></span>
                On
              </label>
            </div>
            <br>
            Enable github release support to allow for automated deployments to suit you. <br><br>
            <div *ngIf="currentApp.apk_url" class="btn waves-light waves-effect pink-button small-button" (click)="copyUrl('https://sdq.st/release-webhook/'+currentApp.apk_url)">Copy Webhook URL</div><br><br>
            Setup a webhook to enable automatic updates for users.<br><br>
            <div class="btn waves-light waves-effect pink-button small-button" (click)="githubHowTo.openModal()">Github How To</div>
          </div>
        </div>
      </div>
      <div *ngIf="apps_id" class="col s12">
        <br>
        <h5>Share URL</h5>
        <hr>
        <div class="right-align grey-text">This url will show your apps description when shared on social media.</div>
        <div class="center-align">
          <br><br><br>
          <div class="btn waves-effect waves-light pink-button small-button" (click)="copyShareUrl()">Copy To Clipboard</div>

          <br><br>
          <span *ngIf="currentApp.donate_url">Share URL: {{currentApp.donate_url}}</span>
          <br>
        </div>
      </div>
      <div *ngIf="apps_id && expanseService.currentSession.users_id == currentApp.users_id" class="col s12">
        <br>
        <h5>Delete App</h5>
        <hr>
        <div class="right-align grey-text">WARNING: This cannot be undone. This will remove the app from the listings.</div>
        <div class="center-align">
          <br><br><br>
          <div class="btn waves-effect waves-light red small-button" (click)="confirmDelete.openModal()">Delete app</div>
          <br><br><br>
        </div>
      </div>
    </div>
  </div>
</div>


<mz-modal #confirmDelete [fixedFooter]="true">
  <mz-modal-header>
    <h4>Delete this app?</h4>
  </mz-modal-header>
  <mz-modal-content>
    Are you sure you want to delete this app? This cannot be undone!
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button class="white-text waves-light" [flat]="true" mz-modal-close>Close</button>
    <button mz-button class="red" mz-modal-close (click)="deleteApp()">DELETE APP</button>
  </mz-modal-footer>
</mz-modal>


<mz-modal #manageScreenshot [fixedFooter]="true">
  <mz-modal-header>
    <h4>Screenshot</h4>
  </mz-modal-header>
  <mz-modal-content>
    <div *ngIf="(currentScreenshot || currentScreenshot === 0) && screenshots[currentScreenshot]" class="center-align">
      <div class="screenshot-container">
        <img class="responsive-img" src="{{screenshots[currentScreenshot]}}"/>
      </div>
      <br>
      Screenshot Url:<br> {{screenshots[currentScreenshot]}}
    </div>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button class="white-text waves-light" [flat]="true" mz-modal-close>Close</button>
    <button mz-button class="red" mz-modal-close (click)="deleteScreenShot()">DELETE SCREENSHOT</button>
  </mz-modal-footer>
</mz-modal>


<mz-modal #githubHowTo [fixedFooter]="true">
  <mz-modal-header>
    <h4>Github Release How To</h4>
  </mz-modal-header>
  <mz-modal-content>
    <h5>Video Tutorial</h5>
    <div class="video-container">
      <iframe
        width="655.609756097561"
        height="420"
        style="width: 100%;"
        src="https://www.youtube.com/embed/B0IZv-ljwSI"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
    <br><br>
    <h5>Step 1</h5>
    To use github releases the first thing to do is to create a repository on github:
    <img class="responsive-img" src="assets/images/githubCreateRepo1.png"/>
    <br><br>

    <img class="responsive-img" src="assets/images/githubCreateRepo2.png"/>
    <br><br>
    <h5>Step 2</h5>
    Create a release on the new empty repository:
    <img class="responsive-img" src="assets/images/githubCreateReleaase1.png"/>
    <br><br>
    <img class="responsive-img" src="assets/images/githubCreateReleaase2.png"/>
    <br><br>
    <img class="responsive-img" src="assets/images/githubCreateReleaase3.png"/>
    <br><br>
    <h5>Step 3</h5>
    Create a webhook on the new empty repository:
    <img class="responsive-img" src="assets/images/githubCreateWebhook1.png"/>
    <br><br>
    <img class="responsive-img" src="assets/images/githubCreateWebhook2.png"/>
    <br><br>
    <img class="responsive-img" src="assets/images/githubCreateWebhook3.png"/>
    <br><br>
    <img class="responsive-img" src="assets/images/githubCreateWebhook4.png"/>
    <br><br>
    <img class="responsive-img" src="assets/images/githubCreateWebhook5.png"/>
    <br><br>
    <a href="https://developer.github.com/v3/repos/releases/">Github Release API Docs</a>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button class="white-text waves-light" [flat]="true" mz-modal-close>Close</button>
  </mz-modal-footer>
</mz-modal>
