
<div class="content-container">
  <h4>Where We Draw the Line</h4>
  <hr>
  When we <a href="https://www.reddit.com/r/OculusQuest/comments/ecchgb/sidequest_gets_25m_pageviews_a_month_now_so_weve/" target="_blank">decided to monetise</a> SideQuest, we decided to set some rules at the outset in order to achieve our goals as ethically and responsibly as possible which I will share with you now.
  <ul class="collection">
    <li class="collection-item grey darken-3">1) We will keep the ads subtle, no annoying audio.</li>

    <li class="collection-item grey darken-3">2) We will keep the ads safe and informative, no sexualised or political ads.</li>

    <li class="collection-item grey darken-3">3) We will keep the ads smaller than the surrounding content and never impose with larger ad banners.</li>

    <li class="collection-item grey darken-3">4) We will offer an option to disable the ads.</li>

    <li class="collection-item grey darken-3">5) We we not try to stop ad blocking in any way.</li>

    <li class="collection-item grey darken-3">6) We have disabled Advertising Features in google analytics which limits tracking cookies used.</li>

    <li class="collection-item grey darken-3">7) Disabled links between Google Analytics and and Google AdSense.</li>

    <li class="collection-item grey darken-3">8) Opted to disabled personalised ads completely in EU member states in compliance with GDPR.</li>

    <li class="collection-item grey darken-3">9) Opted to restrict data processing to be in compliance with the <a href="https://en.wikipedia.org/wiki/California_Consumer_Privacy_Act" target="_blank">CCPA</a></li>
  </ul>
</div>
