/* You can add global styles to this file, and also import other style files */
html,body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #503b73;
  color:white;
  overflow:hidden;
  position:relative;
  top: 0;
}
.full-size{
  width: 100%;
  height: 100%;
}
::-webkit-scrollbar {
  height: 16px;
  width: 16px;
  background: #e0e0e0;
}
::-webkit-scrollbar-corner {
  background: #cfcfcf;
}
::-webkit-scrollbar-thumb {
  background: #ed4e7a;
}
.no-padding-left{
  padding-left:0!important;
}
.no-padding-right{
  padding-right:0!important;
}
.no-padding{
  padding:0!important;
}
.no-margin{
  margin:0!important;
}

.loader-initial {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #ed4e7a; /* Pink */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position:absolute;
  top: 50%;
  left: 50%;
  margin-left: -60px;
  margin-top: -60px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.relative{
  position: relative;
}
.full-height{
  height: 100%;
}
.full-width{
  width: 100%;
}
#toast-container {
  top: auto !important;
  bottom: 10%;
}
.pointer{
  cursor: pointer;
}
.margin-right{
  margin-right: 2em;
}
.margin-top{
  margin-top: 2em;
}
.small-button {
  padding: 5px!important;
  line-height: 16px!important;
  height: 24px!important;
  color: white;
}
.inline-block{
  display:inline-block;
}
.pink-button{
  background-color: #ed4e7a!important;
}
.new-badge{
  background-color: #ed4e7a!important;
}
.circle{
  border-radius: 50%;
}
.offset-toast-chip{
  margin-bottom: 0!important;
}
.margin-left{
  margin-left: 1em;
}
.modal{
  background: #503b73!important;
}
.modal .modal-footer{
  background-color: #4e555b!important;
}
.collapsible-header{
  background-color: #4e555b!important;
  display: block!important;
}

.download-button{
  height: 32px!important;
  width: 32px!important;
  line-height: 32px!important;
  padding:0;
}
.download-button i{
  line-height: 32px!important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.caret{
  color: white!important;
}

[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
  border: 2px solid #efefef!important;
}

.chips .input{
  color: white!important;
}
.vertical-align{
  vertical-align: middle;
}
input[type=range] {
  border: 0 solid white!important;
}
.thumb{
  display: none;
}
.radio-button-field{
  white-space: nowrap;
}

.masonry-layout{
  text-align:center;
  margin-left: 10px;
}
.masonry-item {
  width: calc(25% - 17.5px);
}
@media screen and (max-width: 992px) {
  .masonry-item {
    width: calc(50% - 17.5px);
  }
}

.card-image-left{
  height: 146px;
  float: left;
  width: 194.6666666666667px;
  background-size: cover;
  background-position: center center;
  margin-right: 2em;
}
.card-title-small{
  width: calc(100% - 300px)!important;
}
.card-title.truncate, .description.truncate{
  width: calc(100% - 50px);
}
.card-content{
  background-color: #312249;
}

.card-title-small.installed{
  width: calc(100% - 170px)!important;
}
.card-title.truncate, .description.truncate.installed{
  width: calc(100% - 39px);
}
.chip>i {
  float: left;
  margin: 0 8px 0 -8px;
  font-size: 28px;
  line-height: 32px;
  border-radius: 50%;
}

.bottom-border{
  border-bottom: 1px solid #cfcfcf;
}
.parallax{
  z-index: 0!important;
}
*:focus{
  outline: none;
}
.main-container{
  min-height: 750px;
}
.card-action.right-align{
  background-color: #4e555b!important;
}

.tall-placeholder{
  height: 525px;
}
.default-list{
  list-style-type: initial!important;
}
.top-back{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#503b73+1,503b73+100&0+0,0.9+60,1+74,1+100 */
  background: -moz-linear-gradient(top,  rgba(80,59,115,0) 0%, rgba(80,59,115,0.02) 1%, rgba(80,59,115,0.9) 50%, rgba(80,59,115,1) 54%, rgba(80,59,115,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(80,59,115,0) 0%,rgba(80,59,115,0.02) 1%,rgba(80,59,115,0.9) 50%,rgba(80,59,115,1) 54%,rgba(80,59,115,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(80,59,115,0) 0%,rgba(80,59,115,0.02) 1%,rgba(80,59,115,0.9) 50%,rgba(80,59,115,1) 54%,rgba(80,59,115,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00503b73', endColorstr='#503b73',GradientType=0 ); /* IE6-9 */
  width: calc(100% + 50px);
  margin-left: -25px;
  margin-top: -20px;
  height: 153px;
  position: absolute;
  left: 0;
  z-index: -1;
  border-left: 1px solid #8f8f8f;
  border-right: 1px solid #8f8f8f;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.sub-banner .top-button{
  padding-left: 0.8em;
  padding-right: 0.8em;
  font-size: 14px;
}
.sub-banner .top-button i{
  margin-right: 5px;
}
.sub-banner::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.character-counter{
  color: white;
}

.back-icon{
  margin-right: 10px;
  font-size: 1.2em;
  cursor: pointer;

}
.back-icon:focus {outline:0;}
.block-icon{
  vertical-align: middle;
  margin-right: 10px;
}
.recapche{
  position: absolute;
  top: 4px;
  left: 4px;
}
@media screen and (max-width: 992px) {
  .top-back {
    height: 154px;
  }
  .sub-banner .top-button{
    padding-left: 0.3em;
    padding-right: 0.3em;
  }
  .sub-banner .top-button i{
    margin-right: 4px;
  }
}
.main-container{
  position: relative;
  z-index: 1;
}
.bottom-border{
  border-bottom: 1px solid #8f8f8f;
}

.sub-banner{
  background-color: #312249;
  background-position: top left;
  background-repeat: no-repeat;
  height: 38px;
  width: 100%;
  margin-top: -7px;
  margin-bottom: 5px;
  border-bottom: 1px solid #8f8f8f;
  white-space: nowrap;
  overflow: auto;
}

.side-score{
  font-size: 30px;
  line-height: 50px;
  margin-left: 16px;
}
.side-score .score{
  vertical-align: middle;
  display: inline-block;
  height: 50px;
  margin-left: 10px;
}
.side-score img{
  vertical-align: middle;
  height: 50px;
}
.listing-rating{
  color: white;
  background-color: #ed4e7a!important;
  padding: 3px;
  border-radius: 3px;
  position: absolute;
  bottom: 8px;
  right: 8px;
}
.listing-rating i{
  font-size: 1em;
}
