/* You can add global styles to this file, and also import other style files */
html,body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #503b73;
  color:white;
  overflow-x:hidden;
}
.full-size{
  width: 100%;
  height: 100%;
}
::-webkit-scrollbar {
  height: 16px;
  width: 16px;
  background: #e0e0e0;
}
::-webkit-scrollbar-corner {
  background: #cfcfcf;
}
::-webkit-scrollbar-thumb {
  background: #ed4e7a;
}
.no-padding{
  padding:0;
}
.no-margin{
  margin:0;
}

.loader-initial {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #ed4e7a; /* Pink */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position:absolute;
  top: 50%;
  left: 50%;
  margin-left: -60px;
  margin-top: -60px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.relative{
  position: relative;
}
.full-height{
  height: 100%;
}
#toast-container {
  top: auto !important;
  bottom: 10%;
}
.pointer{
  cursor: pointer;
}

.pink-button{
  background-color: #ed4e7a!important;
}

.offset-toast-chip{
  margin-bottom: 0!important;
}
