/* You can add global styles to this file, and also import other style files */
html,body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #503b73;
  color:white;
  overflow:hidden;
  position:relative;
  top: 0;
}
.full-size{
  width: 100%;
  height: 100%;
}
::-webkit-scrollbar {
  height: 16px;
  width: 16px;
  background: #e0e0e0;
}
::-webkit-scrollbar-corner {
  background: #cfcfcf;
}
::-webkit-scrollbar-thumb {
  background: #ed4e7a;
}
.no-padding{
  padding:0!important;
}
.no-margin{
  margin:0!important;
}

.loader-initial {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #ed4e7a; /* Pink */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position:absolute;
  top: 50%;
  left: 50%;
  margin-left: -60px;
  margin-top: -60px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.relative{
  position: relative;
}
.full-height{
  height: 100%;
}
.full-width{
  width: 100%;
}
#toast-container {
  top: auto !important;
  bottom: 10%;
}
.pointer{
  cursor: pointer;
}
.margin-right{
  margin-right: 2em;
}
.margin-top{
  margin-top: 2em;
}
.small-button {
  padding: 5px!important;
  line-height: 16px!important;
  height: 24px!important;
  color: white;
}
.inline-block{
  display:inline-block;
}
.pink-button{
  background-color: #ed4e7a!important;
}
.circle{
  border-radius: 50%;
}
.offset-toast-chip{
  margin-bottom: 0!important;
}
.margin-left{
  margin-left: 1em;
}
.modal{
  background: #503b73!important;
}
.modal .modal-footer{
  background-color: #4e555b!important;
}
.collapsible-header{
  background-color: #4e555b!important;
  display: block!important;
}

.download-button{
  height: 32px!important;
  width: 32px!important;
  line-height: 32px!important;
  padding:0;
}
.download-button i{
  line-height: 32px!important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.caret{
  color: white!important;
}

[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
  border: 2px solid #efefef!important;
}

.chips .input{
  color: white!important;
}
.vertical-align{
  vertical-align: middle;
}
