<div class="bottom-border">
  <div class="bottom-border paralax"  [ngClass]="{'banner-in-app':appService.hideLogo}">
    <div class="banner-top-back"
         [ngStyle]="{'background-image':'url(assets/images/scripting-background.jpg)'}"></div>
  </div>
</div>
<div class="main-container relative padding"
     [ngStyle]="{'margin-top': '-150px'}">
  <div class="top-back">

  </div>
  <div class="right">
    <span class="chip pointer top-chip"
          onclick="window.location.href = 'https://www.patreon.com/TheExpanseVR'"
          mz-tooltip tooltip="People have been so kind, we are humbled."
          position="bottom">
      <img src="assets/images/patreon.jpg" alt="Support us on Patreon."/>
      Support us on Patreon
    </span>
    <span class="chip pointer top-chip"
          onclick="window.location.href = 'https://paypal.me/sidequestvr'"
          mz-tooltip tooltip="Use this option if you prefer a one off donation."
          position="bottom">
      <img src="assets/images/paypal.jpg" alt="Donate on Paypal"/>
      Donate on Paypal
    </span>
  </div>

  <h4>SideQuest Scripting Interaction System</h4>
  <hr>

  <div class="btn pink-button small-button waves-effect waves-light" (click)="appService.scrollToTop()" routerLink="/developers">Back To Developers</div>
  <div class="right grey-text">Get going with scripting in SideQuest to open a whole world of possibilities to create content.<br><br></div>

  <div class="padding clearfix">
    Notice: This next section assumes you are familiar with Unity3D and C-Sharp scripting. Unity has a lot of great <a href="https://learn.unity.com/">tutorials</a> to get your started.<br><br>
  </div>
  <h5>Adding Interaction to GameObjects</h5>
  <hr>
  <div class="padding">
    In order to leverage the SideQuest Legends Interaction System you can call this simple method to enable it.
    <app-code-block [someCode]="interactionCode"></app-code-block>
  </div>
  <h5>An Alternate Method</h5>
  <hr>
  <div class="padding">
    This method is just a wrapper for the underlying <span class="chip">InteractionSettings</span> component.
    You can just add this component yourself if you prefer.
    <app-code-block [someCode]="interactionCodeAlt"></app-code-block>
  </div>

  <h5>More Useful Information</h5>
  <hr>
  <div class="padding right-align">
    <div class="btn small-button pink-button waves-effect waves-light" routerLink="/scripting-app-behaviours" (click)="appService.scrollToTop()">Scripting - App Behaviours</div><br><br>
    <div class="btn small-button pink-button waves-effect waves-light" routerLink="/scripting-input-controls" (click)="appService.scrollToTop()">Scripting - Input Controls</div><br><br>
  </div><br><br>
  <div class="btn small-button pink-button waves-effect waves-light" routerLink="/developers" (click)="appService.scrollToTop()">Back To Developers</div> <br>

  <br><br><br><br>
</div>
