
.top-chip{
  margin-left: 1em;
  margin-right: 1em;
}

.top-image{
  width: 100%;
  height: 320px;
  background-position: center center;
  background-size: cover;
}

.message-chip{
  height: auto!important;
  border-radius: 32px;
  line-height: 18px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.collection .collection-item {
  background-color: inherit;
}
.collection.with-header .collection-header{
  background-color: inherit;
}

.padding{
  padding-left: 3em;
  padding-right: 3em;
}
