<div class="main-container" [ngClass]="{'padding':appService.hideLogo,'container':!appService.hideLogo}">
  <div class="right">
    <div class="waves-effect waves-light btn-flat white-text top-button"
         mz-tooltip tooltip="Find out about SideQuest."
         position="bottom"
         routerLink="/what-is-sidequest">What is SideQuest?</div>
    <div class="waves-effect waves-light btn-flat white-text top-button"
         mz-tooltip tooltip="Come and chat with us on Discord."
         position="bottom"
         (click)="openItem('https://discord.me/sidequestvr')">Discord</div>
    <span class="chip pointer top-chip"
          onclick="window.location.href = 'https://www.patreon.com/TheExpanseVR'"
          mz-tooltip tooltip="People have been so kind, we are humbled."
          position="bottom">
      <img src="assets/images/patreon.jpg" alt="Support us on Patreon."/>
      Support us on Patreon
    </span>
    <span class="chip pointer top-chip"
          onclick="window.location.href = 'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=744A6C394Q8JG&source=url'"
          mz-tooltip tooltip="Use this option if you prefer a one off donation."
          position="bottom">
      <img src="assets/images/paypal.jpg" alt="Donate on Paypal"/>
      Donate on Paypal
    </span>
  </div>
  <h4>Featured</h4>
  <hr class="grey">
  <div class="row">
    <ng-container *ngIf="!firstNews">
      <div class="col s12 no-padding">
        <div class="tall-placeholder relative">
          <div class="loader-initial"></div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="firstNews">
      <div class="col s12 m6">
        <div class="tall-image" [ngStyle]="{'background-image':'url(\''+firstNews[0].image+'\')'}">
          <app-over-image [firstNews]="firstNews[0]" (output)="openItem(firstNews[0].url)"></app-over-image>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="small-image" [ngStyle]="{'background-image':'url(\''+expanseNews.image+'\')'}">
          <app-over-image [firstNews]="expanseNews" (output)="openItem(expanseNews.url)"></app-over-image>
        </div>
        <div class="small-image" [ngStyle]="{'background-image':'url(\''+firstNews[2].image+'\')'}">
          <app-over-image [firstNews]="firstNews[2]" (output)="openItem(firstNews[2].url)"></app-over-image>
        </div>

      </div>
      <div class="col s6 m3"><div class="small-image" [ngStyle]="{'background-image':'url(\''+firstNews[3].image+'\')'}">
        <app-over-image [firstNews]="firstNews[3]" (output)="openItem(firstNews[3].url)"></app-over-image>
      </div></div>
      <div class="col s6 m3"><div class="small-image" [ngStyle]="{'background-image':'url(\''+firstNews[4].image+'\')'}">
        <app-over-image [firstNews]="firstNews[4]" (output)="openItem(firstNews[4].url)"></app-over-image>
      </div></div>
      <div class="col s6 m3"><div class="small-image" [ngStyle]="{'background-image':'url(\''+firstNews[5].image+'\')'}">
        <app-over-image [firstNews]="firstNews[5]" (output)="openItem(firstNews[5].url)"></app-over-image>
      </div></div>
      <div class="col s6 m3"><div class="small-image" [ngStyle]="{'background-image':'url(\''+firstNews[6].image+'\')'}">
        <app-over-image [firstNews]="firstNews[6]" (output)="openItem(firstNews[6].url)"></app-over-image>
      </div></div>
    </ng-container>
  </div>
  <br><br>
  <app-listing-modes ></app-listing-modes>
  <h4>News Feed</h4>
  <hr class="grey">
  <div *ngIf="!appService.isGrid&&appService.isTimeline" class="row">
    <app-timeline-item *ngFor="let newsItem of news; let i = index"
     [name]="newsItem.title"
     [description]="newsItem.description"
     [image]="newsItem.image"
     [start_time]="newsItem.created/1000"
     [show_date]="newsItem.show_date"
     [show_date_first]="newsItem.show_date && i > 0"
     [hide_time]="true"
     (open)="openItem(newsItem.url)"
    ></app-timeline-item>
  </div>
  <div *ngIf="!appService.isGrid&&!appService.isTimeline" class="row">
    <app-list-item *ngFor="let newsItem of news"
                   [name]="newsItem.title"
                   [description]="newsItem.description"
                   [image]="newsItem.image"
                   (open)="openItem(newsItem.url)"
    ></app-list-item>
  </div>

  <ngx-masonry class="masonry-layout"
               *ngIf="appService.isGrid&&!appService.isTimeline"
               [updateLayout]="updateMasonryLayout"
               [options]="{ transitionDuration: '0s', gutter: 20, isAnimated: false}">
    <ngxMasonryItem class="masonry-item" *ngFor="let newsItem of news">
      <app-grid-item [name]="newsItem.title"
                     [description]="newsItem.description"
                     [image]="newsItem.image"
                     (open)="openItem(newsItem.url)"
      ></app-grid-item>
    </ngxMasonryItem>
  </ngx-masonry>
</div>
<br><br><br>


<ng-container *ngIf="isLoading">
  <div class="col s12">
    <div class="relative">
      <div class="loader-initial"></div>
    </div>
  </div>
</ng-container>
<div class="center-align">
  <div class="btn waves-effect waves-light pink-button" *ngIf="!isLoading&&!hasNoMore" (click)="getNews()">Load More</div>
  <div *ngIf="hasNoMore" class="chip">No more items...</div>
</div>
<br><br><br>
