<div class="main-container padding" >

  <div class="slider-left-container no-padding">
    <div class="slider-padding">
      <div id="slider" >
        <div class="slider-inner {{sliderClass}}" #sliderele [ngClass]="{'disable-auto-slider':isAutoDisabled}">
          <div class="img relative" *ngFor="let url of imageUrls" [ngStyle]="{'background-image': 'url('+url.url+')'}">
            <app-over-image [firstNews]="{title: url.title, description: url.caption}" (output)="openItem(url.href)"></app-over-image>
          </div>

        </div>
        <div class="right">
          <i class="material-icons pointer" (click)="setSliderClass(true)">navigate_before</i>
          <i class="material-icons pointer" (click)="setSliderClass(false)">navigate_next</i>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-right-container hide-on-med-and-down no-padding" [ngStyle]="{'vertical-align': expanseService.currentSession && expanseService.currentSession.profile_color === 'golden'?'top':'initial'}">
    <div class="center-align" *ngIf="expanseService.currentSession && expanseService.currentSession.profile_color === 'golden'" style="height: 600px;">
      <br><br><br><br><br>
      Thank you
      <h5>{{expanseService.currentSession.name}}</h5>
      for supporting us<br>on Patreon.<br>
      <i class="material-icons white-text medium">thumb_up</i>
    </div>
    <div class="center-align slider-padding">
      <app-ad-placeholder [sizes]="[[300,600]]" [id]="'home-top'"></app-ad-placeholder>
    </div>
  </div>

  <span class="grey-text margin-left">
    SideQuest will always be free for users and developers.
    We rely on the kind support of our patrons and hold our sponsors to a high <a routerLink="/ethics">ethical standard</a>.
    <ng-container *ngIf="!expanseService.currentSession || expanseService.currentSession.profile_color !== 'golden'">
      Become a
      <span class="chip pointer top-chip"
            onclick="window.location.href = 'https://www.patreon.com/SideQuestVR'"
            mz-tooltip tooltip="People have been so kind, we are humbled."
            position="bottom">
      <img src="assets/images/patreon.jpg" alt="Support us on Patreon."/>
      Patreon
    </span> to remove ads and other benefits.
    </ng-container>
    <ng-container *ngIf="expanseService.currentSession && expanseService.currentSession.profile_color === 'golden'">
      Thank you for supporting us {{expanseService.currentSession.name}}.
    </ng-container>
  </span><br><br>
  <div class="center-align hide-on-large-only">
    <app-ad-placeholder [sizes]="appService.isMobile?[[300,250],[320,50]]:[[728,90],[970,90],[970,250]]" [id]="'home-center-0'"></app-ad-placeholder>

  </div>
  <h5>Most popular games</h5>
  <div class="row top-margin">
    <app-app-display-box [apps]="popularApps"></app-app-display-box>
  </div>

  <div class="center-align">
    <app-ad-placeholder [sizes]="appService.isMobile?[[300,250],[320,50]]:[[728,90],[970,90],[970,250]]" [id]="'home-center-1'"></app-ad-placeholder>
  </div>
  <h5>Latest game releases</h5>
  <div class="row top-margin">
    <app-app-display-box [apps]="newApps"></app-app-display-box>
  </div>



  <h5>Apps & streaming</h5>
  <div class="row top-margin">
    <app-app-display-box [apps]="popularAppApps"></app-app-display-box>
  </div>
  <div class="center-align">
    <app-ad-placeholder [sizes]="appService.isMobile?[[300,250],[320,50]]:[[728,90],[970,90],[970,250]]" [id]="'home-center-2'"></app-ad-placeholder>
  </div>
  <h5>Social & multiplayer</h5>
  <div class="row top-margin">
    <app-app-display-box [apps]="multiplayerApps"></app-app-display-box>
  </div>
<!--  <app-ad-placeholder></app-ad-placeholder>-->
  <h5>Horror</h5>
  <div class="row top-margin">
    <app-app-display-box [apps]="horrorApps"></app-app-display-box>
  </div>

  <div class="center-align">
    <app-ad-placeholder [sizes]="appService.isMobile?[[300,250],[320,50]]:[[728,90],[970,90],[970,250]]" [id]="'home-center-3'"></app-ad-placeholder>
  </div>
<!--    <h5>News</h5>-->
<!--    <div class="row top-margin">-->
<!--      <app-app-display-box [apps]="news"></app-app-display-box>-->
<!--    </div>-->
<!--    <app-ad-placeholder></app-ad-placeholder>-->

</div>

<ng-container *ngIf="isLoading">
  <div class="col s12">
    <div class="relative">
      <div class="loader-initial"></div>
    </div>
  </div>
</ng-container>
<!--<div class="center-align">-->
<!--  <div class="btn waves-effect waves-light pink-button" *ngIf="!isLoading&&!hasNoMore" (click)="getNews()">Load More</div>-->
<!--  <div *ngIf="hasNoMore" class="chip">No more items...</div>-->
<!--</div>-->
<br><br><br>
