<div class="main-container padding">

  <banner-carousel [items]="imageUrls" (itemSelected)="openItem($event)"></banner-carousel>

  <span class="grey-text margin-left patreon-notice">
    SideQuest will always be free for users and developers.
    We rely on the kind support of our patrons and hold our sponsors to a high <a routerLink="/ethics">ethical
      standard</a>.
    <br>
    <ng-container *ngIf="!expanseService.currentSession || expanseService.currentSession.profile_color !== 'golden'">
      Become a
      <span class="chip pointer top-chip" onclick="window.location.href = 'https://www.patreon.com/SideQuestVR'"
        mz-tooltip tooltip="People have been so kind, we are humbled." position="bottom">
        <img src="assets/images/patreon.jpg" alt="Support us on Patreon." />
        Patreon
      </span> to remove ads and other benefits.
    </ng-container>
    <ng-container *ngIf="expanseService.currentSession && expanseService.currentSession.profile_color === 'golden'">
      Thank you for supporting us {{expanseService.currentSession.name}}. 🎉
    </ng-container>
  </span>
  <h5>Most popular games</h5>
  <div class="row top-margin">
    <app-app-display-box [apps]="popularApps"></app-app-display-box>
  </div>

  <h5>Latest game releases</h5>
  <div class="row top-margin">
    <app-app-display-box [apps]="newApps"></app-app-display-box>
  </div>

  <h5>Fitness</h5>
  <div class="row top-margin">
    <app-app-display-box [apps]="horrorApps"></app-app-display-box>
  </div>

  <h5>Hand Tracking</h5>
  <div class="row top-margin">
    <app-app-display-box [apps]="handyApps"></app-app-display-box>
  </div>

  <h5>Social & multiplayer</h5>
  <div class="row top-margin">
    <app-app-display-box [apps]="multiplayerApps"></app-app-display-box>
  </div>

</div>

<ng-container *ngIf="isLoading">
  <div class="col s12">
    <div class="relative">
      <div class="loader-initial"></div>
    </div>
  </div>
</ng-container>
<!--<div class="center-align">-->
<!--  <div class="btn waves-effect waves-light pink-button" *ngIf="!isLoading&&!hasNoMore" (click)="getNews()">Load More</div>-->
<!--  <div *ngIf="hasNoMore" class="chip">No more items...</div>-->
<!--</div>-->
<br><br><br>
