.side-border{
  border-left: 1px solid white;
}
.side-border:first-child{
  border-left: 0 solid white;
}
.masonry-layout{
  text-align:center;
  margin-left: 10px;
}
.layout-button{
  margin: 0.5em;
  cursor: pointer;
}
.tall-image,.small-image,.tall-placeholder{
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
  margin-bottom: 20px;
}
.small-image{
  height: 165px;
}
.tall-placeholder{
  height: 525px;
}
.padding{
  padding-left: 3em;
  padding-right: 3em;
}
.top-chip{
  margin-left: 1em;
  margin-right: 1em;
}
