<div [ngClass]="{'padding':appService.hideLogo,'container':!appService.hideLogo}">

  <div class="right">
  <span class="chip pointer top-chip"
        onclick="window.location.href = 'https://www.patreon.com/TheExpanseVR'"
        mz-tooltip tooltip="People have been so kind, we are humbled."
        position="bottom">
      <img src="assets/images/patreon.jpg" alt="Support us on Patreon."/>
      Support us on Patreon
    </span>
    <span class="chip pointer top-chip"
          onclick="window.location.href = 'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=744A6C394Q8JG&source=url'"
          mz-tooltip tooltip="Use this option if you prefer a one off donation."
          position="bottom">
      <img src="assets/images/paypal.jpg" alt="Donate on Paypal"/>
      Donate on Paypal
    </span>
  </div>
  <h4>Hi {{expanseService.currentSession.name}}!</h4>
  <hr>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col s12 m3 center-align">
      <img class="responsive-img pointer" routerLink="/avatar-picker" src="{{expanseService.cdnUrl+expanseService.currentSession.preview_image}}"/><br><br>
      <div class="btn waves-effect waves-light pink-button small-button" routerLink="/avatar-picker">Change Avatar</div>
      <br><br>
      <div class="btn waves-effect waves-light pink-button small-button" (click)="passwordModal.openModal()">Change Password</div>
    </div>
    <div class="input-field col s12 m4">
      <div class="input-field">
        <i class="material-icons prefix">face</i>
        <input id="user_name" type="text" placeholder="Your name..." [(ngModel)]="expanseService.currentSession.name">
        <label for="user_name" class="active">Name</label>
      </div>
      <div class="input-field">
        <i class="material-icons prefix">mail</i>
        <input id="user_email" type="text" placeholder="Your name..." [(ngModel)]="expanseService.currentSession.email">
        <label for="user_email" class="active">Email</label>
      </div>
      <div class="btn right waves-effect waves-light pink-button" (click)="saveNameAndEmail()">Save</div>
    </div>
    <div class="col s12 m5 center-align">
      <br>
      <h5>Enable<br>Developer Mode</h5>
      <div class="switch">
        <label>
          Off
          <input type="checkbox" [(ngModel)]="isDev"  (change)="setDev()">
          <span class="lever"></span>
          On
        </label>
      </div>
      <br>
      Enable to create SideQuest listings for your apps/games/mods.
      <br><br><br>
      <!--<h5>Enable<br>Creator Mode</h5>-->
      <!--<div class="switch">-->
        <!--<label>-->
          <!--Off-->
          <!--<input type="checkbox" [(ngModel)]="isDev"  (change)="setDev()">-->
          <!--<span class="lever"></span>-->
          <!--On-->
        <!--</label>-->
      <!--</div>-->
      <!--<br>-->
      <!--Enable to create content and events for SideQuest & The Expanse.-->
    </div>
  </div>

  <br><br>

  <!--<div class="">-->
    <!--<div class="chip pointer margin-right menu-chip" *ngIf="!appService.hideLogo"-->
         <!--mz-tooltip tooltip="Official VR Apps for Go and Quest."-->
         <!--position="bottom"-->
         <!--routerLink="/apps/2">-->
      <!--<i class="material-icons prefix">apps</i>-->
      <!--Installed Apps-->
    <!--</div>-->
    <!--<div class="chip pointer margin-right menu-chip" *ngIf="!appService.hideLogo"-->
         <!--mz-tooltip tooltip="VR Mods for Go and Quest."-->
         <!--position="bottom"-->
         <!--routerLink="/apps/4">-->
      <!--<i class="material-icons prefix">list</i>-->
      <!--App Listings-->
    <!--</div>-->
    <!--<div class="chip pointer margin-right menu-chip" *ngIf="!appService.hideLogo"-->
         <!--mz-tooltip tooltip="Official VR Games for Go and Quest."-->
         <!--position="bottom"-->
         <!--routerLink="/apps">-->
      <!--<i class="material-icons prefix">event</i>-->
      <!--Events-->
    <!--</div>-->
    <!--<div class="chip pointer margin-right menu-chip" *ngIf="!appService.hideLogo"-->
         <!--mz-tooltip tooltip="Official VR Games for Go and Quest."-->
         <!--position="bottom"-->
         <!--routerLink="/apps">-->
      <!--<i class="material-icons prefix">location_on</i>-->
      <!--Spaces-->
    <!--</div>-->
  <!--</div>-->
  <div *ngIf="isDev">
    <h4>My App Listings</h4>
    <hr>
    <div class="row">
      <div class="col s12 m6">
        <div class="add-app" routerLink="/my-app">
          <i class="material-icons">add</i> Add App
        </div>
      </div>
      <div class="col s12 m6" *ngFor="let app of myApps">
        <div class="card card-height">
          <div class="card-image card-image-left waves-effect waves-block waves-light activator"
               *ngIf="app.image_url" [ngStyle]="{'background-image':'url(\''+app.image_url+'\')'}">
          </div>
          <div class="card-content card-height">
            <i class="material-icons activator pointer right">more_vert</i>
            <span class="card-title activator white-text truncate" [ngClass]="{'card-title-small':app.image_url}">{{app.name||'No Name...'}}</span>
            <p class="grey-text description truncate" [ngClass]="{'card-title-small':app.image_url}">{{app.summary}}</p>
            <div class="right-align">
            <span class="chip left white-text"
                  [ngClass]="{'pink-button': app.active, 'orange': !app.active}">
            {{app.active ? 'Published' : 'Pending'}}
          </span>
              <div class="btn-flat waves-effect waves-light white-text small-button" routerLink="/my-app/{{app.apps_id}}">Open</div>
            </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>{{app.name||'No Name...'}}</span>
            <p class="grey-text">{{app.summary}}</p>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>
  <div>
    <div *ngIf="appsNeedingUpdated && appsNeedingUpdated.length"
         class="right btn waves-effect waves-light pink-button small-button margin-left"
         mz-tooltip tooltip="Install all of the apps that have updates available, this can take some time."
         position="bottom"
         (click)="updateAll()"
    >Update All</div>

    <div
      class="right btn waves-effect waves-light pink-button small-button margin-left"
      mz-tooltip tooltip="Install all of the apps that have updates available, this can take some time."
      position="bottom"
      (click)="isUpdated = false;isUninstalled = true; saveMyAppsView(); getInstalledApps()"
    >Uninstalled</div>

    <div
      class="right btn waves-effect waves-light pink-button small-button margin-left"
      mz-tooltip tooltip="Install all of the apps that have updates available, this can take some time."
      position="bottom"
      (click)="isUpdated = false;isUninstalled = false; saveMyAppsView(); getInstalledApps()"
    >Installed</div>

    <div
      class="right btn waves-effect waves-light pink-button small-button margin-left"
      mz-tooltip tooltip="Install all of the apps that have updates available, this can take some time."
      position="bottom"
      (click)="isUpdated = true;isUninstalled = false; saveMyAppsView(); getInstalledApps()"
    >Updates</div>
    <h4>My {{isUpdated? 'App Updates' : isUninstalled? 'Uninstalled Apps' : 'Installed Apps' }}</h4>
    <hr>
    <div class="row">
      <h5 *ngIf="!myInstalledApps.length">
        <br><br>
        Nothing here yet.
      </h5>
      <div class="col s12 m6 l4" *ngFor="let app of myInstalledApps">
        <div class="card card-height">
          <div class="card-image card-image-left waves-effect waves-block waves-light activator"
               *ngIf="app.image_url" [ngStyle]="{'background-image':'url(\''+app.image_url+'\')'}">
            <div class="btn waves-effect waves-light white-text pink-button small-button" *ngIf="app.needsUpdate && !isUninstalled" routerLink="/app/{{app.apps_id}}">Update</div>
          </div>
          <div class="card-content card-height">
            <i class="material-icons activator pointer right">more_vert</i>
            <span class="card-title activator white-text truncate installed" [ngClass]="{'card-title-small':app.image_url}">{{app.name||'No Name...'}}</span>
            <p class="grey-text description truncate installed" [ngClass]="{'card-title-small':app.image_url}">{{app.summary}}</p>
            <div class="right-align">
              <div class="btn-flat waves-effect waves-light white-text open-app-button small-button" routerLink="/app/{{app.apps_id}}">Open</div>
            </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>{{app.name||'No Name...'}}</span>
            <p class="grey-text">{{app.summary}}</p>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>

  <div>
    <div
      class="right btn waves-effect waves-light pink-button small-button margin-left"
      mz-tooltip tooltip="Install all of the apps that have updates available, this can take some time."
      position="bottom"
      (click)="eventsType = 'all'; eventPage = 0; getEvents()"
    >All</div>
    <div
      class="right btn waves-effect waves-light pink-button small-button margin-left"
      mz-tooltip tooltip="Install all of the apps that have updates available, this can take some time."
      position="bottom"
      (click)="eventsType = 'past'; eventPage = 0; getEvents()"
    >Past</div>
    <div
      class="right btn waves-effect waves-light pink-button small-button margin-left"
      mz-tooltip tooltip="Install all of the apps that have updates available, this can take some time."
      position="bottom"
      (click)="eventsType = 'upcoming'; eventPage = 0; getEvents()"
    >Upcoming</div>
    <h4>My Events</h4>
    <hr>
    <div class="row">
      <div class="col s12 m6">
        <div class="add-app" routerLink="/my-event">
          <i class="material-icons">add</i> Add Event
        </div>
      </div>
      <div class="col s12 m6" *ngFor="let event of myEvents">
        <div class="card card-height">
          <div class="card-image card-image-left waves-effect waves-block waves-light activator"
               *ngIf="event.event_image||event.image" [ngStyle]="{'background-image':'url(\''+(event.event_image||event.image)+'\')'}">
          </div>
          <div class="card-content card-height">
            <i class="material-icons activator pointer right">more_vert</i>
            <span class="card-title activator white-text truncate" [ngClass]="{'card-title-small':event.event_image||event.image}">{{event.event_name||event.name||'No Name...'}}</span>
            <p class="grey-text description truncate" [ngClass]="{'card-title-small':event.event_image||event.image}">{{event.event_description||event.description}}</p>
            <div class="right-align">
            <span class="chip left white-text"
                  [ngClass]="{'pink-button': event.is_approved, 'orange': !event.is_approved}">
            {{event.is_approved ? 'Published' : 'Pending'}}
          </span>
              <span class="left chip">{{(event.start_time)*1000|date:'mediumDate'}}</span>
              <span class="left chip">{{(event.event_duration)/60| number:'1.0-0'}}mins</span>
              <div class="btn-flat waves-effect waves-light white-text small-button" routerLink="/my-event/{{event.events_id}}">Open</div>
            </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>{{event.event_name||event.name||'No Name...'}}</span>
            <p class="grey-text">{{event.event_description||event.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<mz-modal #passwordModal [fixedFooter]="true">
  <mz-modal-header>
    <h4>Change Password</h4>
  </mz-modal-header>
  <mz-modal-content>
    <div class="row">
      <div class="input-field col s12 m9">
        <div class="input-field">
          <i class="material-icons prefix">lock</i>
          <input id="password1" type="password" placeholder="Password..." [(ngModel)]="newPassword">
          <label for="password1" class="active">Password</label>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">lock</i>
          <input id="password2" type="password" placeholder="Password Again..." [(ngModel)]="newPassword1">
          <label for="password2" class="active">Password Again</label>
        </div>
      </div>
    </div>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button class="white-text waves-light" [flat]="true" mz-modal-close>Close</button>
    <button mz-button class="pink-button" mz-modal-close (click)="changePassword()">Change Password</button>
  </mz-modal-footer>
</mz-modal>
