
.card-image-left{
  height: 100px;
  float: left;
  width: 106.236559139px;
  background-size: cover;
  background-position: center center;
  margin-right: 1em;
}
.open-app-button{
}
.change-avatar{
  margin-top: -80px;
}
.card-title-small{
  width: calc(100% - 300px)!important;
}
.card-title.truncate, .description.truncate{
  width: calc(100% - 50px);
}

.card-title-small.installed{
  width: calc(100% - 170px)!important;
}
.card-title.truncate, .description.truncate.installed{
  width: calc(100% - 5px);
}
.card-content{
  background-color: #312249;
}
.add-app{
  width: 100%;
  line-height: 100px;
  font-size: 2rem;
  height: 100px;
  border: 3px dashed #cfcfcf;
  margin: .5rem 0 1rem 0;
  color: white;
  text-align: center;
  cursor: pointer;
}
.card-height{
  height: 100px;
}
.card-content{
  padding: 5px;
}

.padding{
  padding-left: 3em;
  padding-right: 3em;
}

.top-chip{
  margin-left: 1em;
  margin-right: 1em;
}
