
.card-image-left{
  height: 100px;
  float: left;
  width: 106.236559139px;
  background-size: cover;
  background-position: center center;
  margin-right: 1em;
}
.open-app-button{
}
.change-avatar{
  margin-top: -80px;
}
.card-title-small{
  width: calc(100% - 300px)!important;
}
.card-title.truncate, .description.truncate{
  width: calc(100% - 50px);
}

.card-title-small.installed{
  width: calc(100% - 170px)!important;
}
.card-title.truncate, .description.truncate.installed{
  width: calc(100% - 5px);
}
.card-content{
  background-color: #312249;
}
.add-app{
  width: 100%;
  line-height: 100px;
  font-size: 2rem;
  height: 100px;
  border: 3px dashed #cfcfcf;
  margin: .5rem 0 1rem 0;
  color: white;
  text-align: center;
  cursor: pointer;
}
.card-height{
  height: 100px;
}
.card-content{
  padding: 5px;
}

.search-box{
  width: 410px;
}

.message-chip{
  height: auto!important;
  border-radius: 32px;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.message-send-top{
  margin-top: 15px;
  margin-right: 10px;
  position: absolute;
  right: 20px;
  bottom: 36px;
}
#message_to_send{
  width: calc(100% - 200px);
}
.right-margin{
  margin-left: 0;
}
.search-width{
  width: 350px;
}
.pull-up{
  margin-top: -35px;
}
.user-chip{
  height: 64px;
  border-radius: 32px;
  width: 100%;
  line-height: initial;
}
.user-chip img{
  width: 64px;
  height: 64px;
}
.other-user-message{
  width: calc(100% - 20px);
  margin-left: 20px;
  background-color: #d8eceb;
}
.send-chip{
  width: calc(100% + 40px);
  margin-left: -20px;
}
.chip-title{
  font-size: 1.5rem;
}
.new-badge{
  margin-top: 0.6em;
}
.padding{
  padding-left: 3em;
  padding-right: 3em;
}

.top-chip{
  margin-left: 1em;
  margin-right: 1em;
}
.url-row-padding{
  padding-left:4em;
  padding-right: 4em;
}
.extra-padding-left-small{
  padding-left: 2em;
}
.extra-padding-left{
  padding-left: 3.8em;
}
.url-col{
  padding-top: 0.7em;
}

.dash-total{
  font-size: 3em;
  display: inline-block;
  padding: 0.3em;
  border-left: 5px solid #0094ca;
  position:relative;
  width: 100%;
}
.dash-total-small{
  font-size: 0.3em;
  text-overflow: ellipsis;
  overflow-x: hidden;
  width: 100%;
  white-space: nowrap;
}
.totals-container{
  padding-bottom: 3em;
}
.add-image, .loader-cont{
  width: 100%;
  line-height: 128px;
  font-size: 1.5rem;
  height: 128px;
  border: 3px dashed #cfcfcf;
  margin: .5rem 0 1rem 0;
  color: white;
  text-align: center;
  cursor: pointer;
}
.sub-banner{
  width: calc(100% + 48px);
  margin-left: -24px;
  border-top: 1px solid #8f8f8f;
  margin-top: 0px;
}
.settings-button{
  margin-top: 2px;
  margin-right: -8px;
}
.message-badge{
  position: absolute;
  transform: translate(-6px, 30px);
  background-color: transparent!important;
}
.side-score{
  margin-top: -10px;
}
