<div [ngClass]="{'padding':appService.hideLogo,'container':!appService.hideLogo}">

  <div class="right">
  <span class="chip pointer top-chip"
        onclick="window.location.href = 'https://www.patreon.com/TheExpanseVR'"
        mz-tooltip tooltip="People have been so kind, we are humbled."
        position="bottom">
      <img src="assets/images/patreon.jpg" alt="Support us on Patreon."/>
      Support us on Patreon
    </span>
    <span class="chip pointer top-chip"
          onclick="window.location.href = 'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=744A6C394Q8JG&source=url'"
          mz-tooltip tooltip="Use this option if you prefer a one off donation."
          position="bottom">
      <img src="assets/images/paypal.jpg" alt="Donate on Paypal"/>
      Donate on Paypal
    </span>
  </div>
  <h4>Hi {{expanseService.currentSession.name}}!</h4>
  <hr>
  <div class="row">
    <div class="col s12 m2 center-align">
      <img class="responsive-img" src="{{expanseService.cdnUrl+expanseService.currentSession.preview_image}}"/><br><br>
      <div class="btn waves-effect waves-light pink-button small-button" (click)="passwordModal.openModal()">Change Password</div>
    </div>
    <div class="input-field col s12 m4">
      <div class="input-field">
        <i class="material-icons prefix">face</i>
        <input id="user_name" type="text" placeholder="Your name..." [(ngModel)]="expanseService.currentSession.name">
        <label for="user_name" class="active">Name</label>
      </div>
      <div class="input-field">
        <i class="material-icons prefix">mail</i>
        <input id="user_email" type="text" placeholder="Your name..." [(ngModel)]="expanseService.currentSession.email">
        <label for="user_email" class="active">Email</label>
      </div>
      <div class="btn right waves-effect waves-light pink-button" (click)="saveNameAndEmail()">Save</div>
    </div>
    <div class="col s12 m6 center-align">
      <br><br>
      <h5>Enable<br>Developer Mode</h5>
      <div class="switch">
        <label>
          Off
          <input type="checkbox" [(ngModel)]="isDev"  (change)="setDev()">
          <span class="lever"></span>
          On
        </label>
      </div>
      <br>
      Content creator? <br>Enable this to be able to create SideQuest listings for your content.
    </div>
  </div>

  <br><br>
  <div *ngIf="isDev">
    <h4>My App Listings</h4>
    <hr>
    <div class="row">
      <div class="col s12 m6">
        <div class="add-app" routerLink="/my-app">
          <i class="material-icons">add</i> Add App
        </div>
      </div>
      <div class="col s12 m6" *ngFor="let app of myApps">
        <div class="card card-height">
          <div class="card-image card-image-left waves-effect waves-block waves-light activator"
               *ngIf="app.image_url" [ngStyle]="{'background-image':'url(\''+app.image_url+'\')'}">
          </div>
          <div class="card-content card-height">
            <i class="material-icons activator pointer right">more_vert</i>
            <span class="card-title activator white-text truncate" [ngClass]="{'card-title-small':app.image_url}">{{app.name||'No Name...'}}</span>
            <p class="grey-text description truncate" [ngClass]="{'card-title-small':app.image_url}">{{app.summary}}</p>
            <div class="right-align">
            <span class="chip left white-text"
                  [ngClass]="{'pink-button': app.active, 'orange': !app.active}">
            {{app.active ? 'Published' : 'Pending'}}
          </span>
              <div class="btn-flat waves-effect waves-light white-text" routerLink="/my-app/{{app.apps_id}}">Open</div>
            </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>{{app.name||'No Name...'}}</span>
            <p class="grey-text">{{app.summary}}</p>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>
  <div *ngIf="appsNeedingUpdated && appsNeedingUpdated.length" class="right btn waves-effect waves-light pink-button"
       mz-tooltip tooltip="Install all of the apps that have updates available, this can take some time."
       position="bottom"
       (click)="updateAll()"
  >Update All</div>

  <h4>My Installed Apps</h4>
  <hr>
  <div class="row">
    <h5 *ngIf="!myInstalledApps.length">
      <br><br>
      Nothing here yet.
    </h5>
    <div class="col s12 m4" *ngFor="let app of myInstalledApps">
      <div class="card card-height">
        <div class="card-image card-image-left waves-effect waves-block waves-light activator"
             *ngIf="app.image_url" [ngStyle]="{'background-image':'url(\''+app.image_url+'\')'}">
          <div class="btn waves-effect waves-light white-text pink-button small-button" *ngIf="app.needsUpdate" routerLink="/app/{{app.apps_id}}">Update</div>
        </div>
        <div class="card-content card-height">
          <i class="material-icons activator pointer right">more_vert</i>
          <span class="card-title activator white-text truncate installed" [ngClass]="{'card-title-small':app.image_url}">[{{app.versioncode}}] {{app.name||'No Name...'}}</span>
          <p class="grey-text description truncate installed" [ngClass]="{'card-title-small':app.image_url}">{{app.summary}}</p>
          <div class="right-align">
            <div class="btn-flat waves-effect waves-light white-text" routerLink="/app/{{app.apps_id}}">Open</div>
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>{{app.name||'No Name...'}}</span>
          <p class="grey-text">{{app.summary}}</p>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <h4>My Events</h4>
  <hr>
  <div class="row">
    <div class="col s12 m6">
      <div class="add-app">
        Coming soon...
      </div>
    </div>
  </div>
</div>



<mz-modal #passwordModal [fixedFooter]="true">
  <mz-modal-header>
    <h4>Change Password</h4>
  </mz-modal-header>
  <mz-modal-content>
    <div class="row">
      <div class="input-field col s12 m9">
        <div class="input-field">
          <i class="material-icons prefix">face</i>
          <input id="password1" type="password" placeholder="Password..." [(ngModel)]="newPassword">
          <label for="password1" class="active">Password</label>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">mail</i>
          <input id="password2" type="password" placeholder="Password Again..." [(ngModel)]="newPassword1">
          <label for="password2" class="active">Password Again</label>
        </div>
      </div>
    </div>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button class="white-text waves-light" [flat]="true" mz-modal-close>Close</button>
    <button mz-button class="pink-button" mz-modal-close (click)="changePassword()">Change Password</button>
  </mz-modal-footer>
</mz-modal>
